<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pappi Loitsut</title>
    <link rel="stylesheet" href="/static/spells.css">
</head>
<body class="theme-priest">

<h1>Priest Loitsut</h1>

<div class="spell-lists">
    <div class="tier1-list">
        <h2>Tier 1 loitsut</h2>
        <ul>
            <li><a href="#cure-wounds">cure wounds</a></li>
            <li><a href="#protection-from-evil">protection from evil</a></li>
            <li><a href="#shield-of-faith">shield of faith</a></li>
            <li><a href="#turn-undead">turn undead</a></li>
        </ul>
    </div>

    <div class="tier2-list">
        <h2>Tier 2 loitsut</h2>
        <ul>
            <li><a href="#augury">augury</a></li>
            <li><a href="#bless">bless</a></li>
            <li><a href="#blind-deafen">blind/deafen</a></li>
            <li><a href="#cleansing-weapon">cleansing weapon</a></li>
            <li><a href="#smite">smite</a></li>
            <li><a href="#zone-of-truth">zone of truth</a></li>
        </ul>
    </div>

    <div class="tier3-list">
        <h2>Tier 3 loitsut</h2>
        <ul>
            <li><a href="#command">command</a></li>
            <li><a href="#rebuke-unholy">rebuke unholy</a></li>
            <li><a href="#restoration">restoration</a></li>
            <li><a href="#speak-with-dead">speak with dead</a></li>
        </ul>
    </div>

    <div class="tier4-list">
        <h2>Tier 4 loitsut</h2>
        <ul>
            <li><a href="#commune">commune</a></li>
            <li><a href="#control-water">control water</a></li>
            <li><a href="#flame-strike">flame strike</a></li>
            <li><a href="#pillar-of-salt">pillar of salt</a></li>
            <li><a href="#regenerate">regenerate</a></li>
            <li><a href="#wrath">wrath</a></li>
        </ul>
    </div>

    <div class="tier5-list">
        <h2>Tier 5 loitsut</h2>
        <ul>
            <li><a href="#divine-vengeance">divine vengeance</a></li>
            <li><a href="#dominion">dominion</a></li>
            <li><a href="#heal">heal</a></li>
            <li><a href="#plane-shift">plane shift</a></li>
            <li><a href="#prophecy">prophecy</a></li>
        </ul>
    </div>
</div>

<hr>

<h2>Tier 1</h2>
<div class="tier1-spell tier">
    <div class="spell-block">
        <h3 id="cure-wounds">CURE WOUNDS</h3>
        <p><em>Tier 1, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Close<br>Your touch restores ebbing life. Roll a number of d6s equal to 1 + half your level (rounded down). One target you touch regains that many hit points. </p>
    </div>
    <div class="spell-block">
        <h3 id="protection-from-evil">PROTECTION FROM EVIL</h3>
        <p><em>Tier 1, priest</em><br><strong>Duration:</strong> Focus<br><strong>Range:</strong> Close<br>For the spell’s duration, chaotic beings have disadvantage on attack rolls and hostile spellcasting checks against the target. These beings also can’t possess, compel, or beguile it. When cast on an already-possessed target, the possessing entity makes a CHA check vs. the last spellcasting check. On a failure, the entity is expelled. </p>
    </div>
    <div class="spell-block">
        <h3 id="shield-of-faith">SHIELD OF FAITH</h3>
        <p><em>Tier 1, priest</em><br><strong>Duration:</strong> 5 rounds<br><strong>Range:</strong> Self<br>A protective force wrought of your holy conviction surrounds you. You gain a +2 bonus to your armor class for the duration. </p>
    </div>
    <div class="spell-block">
        <h3 id="turn-undead">TURN UNDEAD</h3>
        <p><em>Tier 1, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Near<br>You rebuke undead creatures, forcing them to flee. You must present a holy symbol to cast this spell. Undead creatures within near of you must make a CHA check vs. your spellcasting check. If a creature fails by 10+ points and is equal to or less than your level, it is destroyed. Otherwise, on a fail, it flees from you for 5 rounds. </p>
    </div>
</div>

<h2>Tier 2</h2>
<div class="tier2-spell tier">
    <div class="spell-block">
        <h3 id="augury">AUGURY</h3>
        <p><em>Tier 2, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Self<br>You interpret the meaning of supernatural portents and omens. Ask the GM one question about a specific course of action. The GM says whether the action will lead to “weal” or “woe.” </p>
    </div>
    <div class="spell-block">
        <h3 id="bless">BLESS</h3>
        <p><em>Tier 2, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Close<br>One creature you touch gains a luck token. </p>
    </div>
    <div class="spell-block">
        <h3 id="blind-deafen">BLIND/DEAFEN</h3>
        <p><em>Tier 2, priest</em><br><strong>Duration:</strong> Focus<br><strong>Range:</strong> Near<br>You utter a divine censure, blinding or deafening one creature you can see in range. The creature has disadvantage on tasks requiring the lost sense. </p>
    </div>
    <div class="spell-block">
        <h3 id="cleansing-weapon">CLEANSING WEAPON</h3>
        <p><em>Tier 2, priest</em><br><strong>Duration:</strong> 5 rounds<br><strong>Range:</strong> Close<br>One weapon you touch is wreathed in purifying flames. It deals an additional 1d4 damage (1d6 vs. undead) for the duration. </p>
    </div>
    <div class="spell-block">
        <h3 id="smite">SMITE</h3>
        <p><em>Tier 2, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Near<br>You call down punishing flames on a creature you can see within range. It takes 1d6 damage. </p>
    </div>
    <div class="spell-block">
        <h3 id="zone-of-truth">ZONE OF TRUTH</h3>
        <p><em>Tier 2, priest</em><br><strong>Duration:</strong> Focus<br><strong>Range:</strong> Near<br>You compel a creature you can see to speak truth. It can’t utter a deliberate lie while within range. </p>
    </div>
</div>

<h2>Tier 3</h2>
<div class="tier3-spell tier">
    <div class="spell-block">
        <h3 id="command">COMMAND</h3>
        <p><em>Tier 3, priest</em><br><strong>Duration:</strong> Focus<br><strong>Range:</strong> Far<br>You issue a verbal command to one creature in range who can understand you. The command must be one word, such as “kneel.” The target obeys the command for as long as you focus. If your command is ever directly harmful to the creature, it may make a Charisma check vs. your last spellcasting check. On a success, the spell ends. </p>
    </div>
    <div class="spell-block">
        <h3 id="rebuke-unholy">REBUKE UNHOLY</h3>
        <p><em>Tier 3, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Near<br>You rebuke creatures who oppose your alignment, forcing them to flee. You must present a holy symbol to cast this spell. If you are lawful or neutral, this spell affects demons, devils, and outsiders. If you are chaotic, this spell affects angels and natural creatures of the wild. Affected creatures within near of you must make a CHA check vs. your spellcasting check. If a creature fails by 10+ points and is equal to or less than your level, it is destroyed. Otherwise, on a fail, it flees from you for 5 rounds. </p>
    </div>
    <div class="spell-block">
        <h3 id="restoration">RESTORATION</h3>
        <p><em>Tier 3, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Close<br>With the touch of your hands, you expunge curses and illnesses. One curse, illness, or affliction of your choice affecting the target creature ends. </p>
    </div>
    <div class="spell-block">
        <h3 id="speak-with-dead">SPEAK WITH DEAD</h3>
        <p><em>Tier 3, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Close<br>A dead body you touch answers your questions in a distant, wheezing voice. You can ask the dead body up to three yes or no questions (one at a time). The GM truthfully answers "yes" or "no" to each. If you cast this spell more than once in 24 hours, treat a failed spellcasting check for it as a critical failure instead. </p>
    </div>
</div>

<h2>Tier 4</h2>
<div class="tier4-spell tier">
    <div class="spell-block">
        <h3 id="commune">COMMUNE</h3>
        <p><em>Tier 4, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Self<br>You seek your god's counsel. Ask the GM up to three yes or no questions. The GM truthfully answers "yes" or "no" to each. If you cast this spell more than once in 24 hours, treat a failed spellcasting check for it as a critical failure instead. </p>
    </div>
    <div class="spell-block">
        <h3 id="control-water">CONTROL WATER</h3>
        <p><em>Tier 4, priest</em><br><strong>Duration:</strong> Focus<br><strong>Range:</strong> Far<br>You move and shape water. You can cause a section of water up to 100 feet in width and depth to change shape, defy gravity, or flow in a different direction. </p>
    </div>
    <div class="spell-block">
        <h3 id="flame-strike">FLAME STRIKE</h3>
        <p><em>Tier 4, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Far<br>You call down a holy pillar of fire, immolating one creature you can see within range. The target takes 2d6 damage. </p>
    </div>
    <div class="spell-block">
        <h3 id="pillar-of-salt">PILLAR OF SALT</h3>
        <p><em>Tier 4, priest</em><br><strong>Duration:</strong> Focus<br><strong>Range:</strong> Near<br>A creature you target turns into a statue made of hardened salt. You can target a creature you can see of LV 5 or less. If you successfully focus on this spell for 3 rounds in a row, the transformation becomes permanent. </p>
    </div>
    <div class="spell-block">
        <h3 id="regenerate">REGENERATE</h3>
        <p><em>Tier 4, priest</em><br><strong>Duration:</strong> Focus<br><strong>Range:</strong> Close<br>A creature you touch regains 1d4 hit points on your turn for the duration. This spell also regrows lost body parts. </p>
    </div>
    <div class="spell-block">
        <h3 id="wrath">WRATH</h3>
        <p><em>Tier 4, priest</em><br><strong>Duration:</strong> 10 rounds<br><strong>Range:</strong> Self<br>Your weapons become magical +2 and deal an additional d8 damage for the spell's duration. </p>
    </div>
</div>

<h2>Tier 5</h2>
<div class="tier5-spell tier">
    <div class="spell-block">
        <h3 id="divine-vengeance">DIVINE VENGEANCE</h3>
        <p><em>Tier 5, priest</em><br><strong>Duration:</strong> 10 rounds<br><strong>Range:</strong> Self<br>You become the divine avatar of your god's wrath, wreathed in holy flames or a black aura of smoldering corruption. For the spell's duration, you can fly a near distance, your weapons are magical, and you have a +4 bonus to your weapon attacks and damage. </p>
    </div>
    <div class="spell-block">
        <h3 id="dominion">DOMINION</h3>
        <p><em>Tier 5, priest</em><br><strong>Duration:</strong> 10 rounds<br><strong>Range:</strong> Near<br>Mighty beings come to your aid. The beings must have a combined total of 16 levels or less. Chaotic PCs summon demons/devils, and lawful or neutral PCs summon angels. The beings act of free will to aid you on your turn. After 10 rounds, they return to their realms. You cannot cast this spell again until you complete penance. </p>
    </div>
    <div class="spell-block">
        <h3 id="heal">HEAL</h3>
        <p><em>Tier 5, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Close<br>One creature you touch is healed to full hit points. You cannot cast this spell again until you complete a rest. </p>
    </div>
    <div class="spell-block">
        <h3 id="plane-shift">PLANE SHIFT</h3>
        <p><em>Tier 5, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Close<br>You fold space and time, transporting yourself and all willing creatures within close range to a location on another plane of your choice. Unless you have been to your intended location before, you appear in a random place on the destination plane. </p>
    </div>
    <div class="spell-block">
        <h3 id="prophecy">PROPHECY</h3>
        <p><em>Tier 5, priest</em><br><strong>Duration:</strong> Instant<br><strong>Range:</strong> Self<br>You commune directly with your god for guidance. Ask the GM one question. The GM answers the question truthfully using the knowledge your god possesses. Deities are mighty, but not omniscient. You cannot cast this spell again until you complete penance. </p>
    </div>
</div>

<em>
    Priest Loitsut is an independent product published under the Shadowdark RPG Third-Party License and is not affiliated with The Arcane Library, LLC. Shadowdark RPG © 2023 The Arcane Library, LLC.
</em>

</body>
</html>