<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>My GM Journey</title>
</head>
<body>

    <h1>My GM Journey</h1>
    <p>
        I started playing tabletop role-playing games back in 2016. My first touch to the hobby was of course D&D 5th edition, which is still like 90% of my current TTRPG experiences.
        I then started running 5e games for my friends in mid 2019 and later using different systems.
        On this page I (try to) recall all of my past campaigns and oneshots, condensing what happened in those games and what was my personal and possibly my players' take away from the game.
        Sessions will be in chronological order, which I hope results in providing interesting insights and developments about how I think about TTRPGs and GMing.
    </p>

    <h2>#1: The Delian Tomb</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Fantasy</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>Total of 3 players with 1 first timer.</li>
    </ul>
    <p>
        My first time being the dungeon master was with the help of Matt Colville's prewritten "Delian Tomb" oneshot.
        The adventure is basically a rescue mission, as a farmer's son is kidnapped by goblins from the farmstead. The farmer organizes multiple search parties and the players are one of those parties.
        I had 3 friends playing, with one of them being completely new to DnD, but I had showed him how to make a character easily using DNDBeyond on a flight a few weeks before.
        I had never prepped before and I can't remember which "how to GM" videos I watched, but I don't think it was too many. Probably the short "DM tips" videos with Matt Mercer.
        So most of my prep was just reading the adventure PDF and writing bullet points about it in a small black notebook. I think I actually jotted down every single goblin with their name, hp, loot and 1 unique characteristic.
        Then I drew a small version of the dungeon map in my notebook as well. I had written notes for each possible encounter in the PDF, but also 1 homebrew encounter I thought would be interesting if we had the time.
        <br><br>
        Playing was quite fun! I got to improvise and act out wacky NPCs, such as a cranky carpet merchant, who's cart the players were riding on at the beginning.
        They are part of a caravan that I had improvised to be going from Maribor to Vizima, thinking that I would be running future campaigns in the Witcher universe.
        The players had made very self-centered characters so it was easy enough to motivate them with money. There was a small encounter with boars, then they tracked down the goblins in the tomb,
        dealt with the bugbear and undead, getting the magic sword and rescuing the youngest Mabbet. The kid was of course crying after being kidnapped and caged and at this point the renegade
        side of the PCs started to come out more as they figured putting him back in the cage and carrying him back to the farm was a "safer" way... little did I know this
        was only the beginning of their antics. I think they eventually fed him honey to stop the crying, but by that point the PCs had firmly semented themselves as a-holes.
        <br><br>
        The adventure didn't take long, so I thought it would be fine to run a quick bonus encounter. Once the PCs arrive
        back at the farmstead, they are met with an eerie silence and grim sight, as the bodies of those that didn't join
        a search party are now laying in the yard. A bloodthirsty werewolf then emerges from the farmhouse, growling at the players.
        Of course the barbarian's first instinct is to offer the kid as a distraction/sacrifice, but the werewolf kicks the cage aside for bigger prey.
        <br>
        So they then slay the werewolf to my surprise and impale every single dead body in the farmstead, afraid that they
        would be infected with lycanthropy. At this point I had the werewolf retract back to its human form, revealing the
        carpet merchant to be culprit. Then I had the farmer return with his search party, who of course assumed the players
        caused the massacre, since there was no werewolf in sight and all of the corpses were impaled with the barbarian's greatsword.
        I think with more careful examination it would have been obvious that a werewolf did it, but I remember the PCs being
        their rude selves so things escalated.
        <br>
        After the final fight vs the farmer (who was a war veteran), the warlock died of his wounds and the other PCs dumped him the well for some reason.
        Then they set the whole farm on fire and rode off into the sunset, while the kid (who was the only survivor) watched his home burn.<br>
        Except that the fighter (the one playing DnD for the 1st time) said he goes back to the farm and beheads the kid... yeah I was not expecting that.
        So now the session actually ended, with the 2 surviving PCs riding off to presumably cause more chaos.
    </p>
    <h3>The Takeaway</h3>
    <p>
        The biggest realization was seeing how easy it was actually to run a game. DMing/GMing had been demystified forever for me now as being something extremely hard and requiring immense dedication.
        The truth is the games that you run are as time-consuming and grandiose as you make them. The goal is to have fun, and prepping in a way that satisfies you and your players is enough.
        In this instance, it was already loads of fun to run the Delian Tomb as is, but adding that twist at the end made it something that I will remember for the rest of my life and probably the players as well.
        <br>
        That said I think the session did drag just little too long because of the werewolf encounter.
    </p>

    <h2>#2: The Black Qubo</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Urban Fantasy</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>3</li>
    </ul>
    <p>
		I had played my second ever character in a 5e oneshot recently during this time. Donny Adello was a tortle rogue who was socially quite inept. I loved this character so much that I decided to run a oneshot where he was the villain.<br>
		Two of my players were the same as oneshot #1, but this time the setting was the same as my regular DM's world: Valcia. The players were bounty hunters in the city of Dia and they were tasked to find the mysterious "Black Qubo", who 
		had eluded them for months. The mission started in the guard house where wanted posters were being handed out. I remember that the clerk told the party about the theft of salt bags. Then the players went to scout out the slums where Black Qubo's right hand man was said to be lurking. 
		They asked around, paying some beggars well to get some good info. In the end they are led to the wingman's apartment, surprising their quarry just outside the building. They catch him with a net and mercilessly interrogate him inside his own apartment. 
		I had some of the gang's Kenku infiltrate the house from the roof during the interrogation, but the players were able to dispatch them with some minor wounds.<br><br>
		
		During the fight though, the wingman fled. Luckily the ranger was able to hunter's mark him before and they were able to track him down, since they the general direction he was. They followed him to the sewers,
		dealing with some traps and finding the gang's hideout. They beat up the wingman and his cronies, but no sign of Black Qubo. There was however a very peculiar chamber in the hideout: a whirlpool of sewer water with submerged double doors.
		I can't remember how the party got past the whirlpool, but behind the double doors they found Black Qubo's lair. The lair was a miniature copy of the Teenage Mutant Ninja Turtles hideout. <br><br> 
		
		When the party initially encounters Donny "Black Qubo" Adello, they have a pleasant chat and find out that Donny is more of a Robin-Hood type character, but all of the thugs that follow him are probably controlled by the wingman. 
		But while searching the place, the party actually found the stolen salt: it was all in a crate that had the body of a dead ratfolk in it. Donny simply said that he just wanted to preserve his master's remains. 
		When the Lawful-Good Hilpert Hilpeä saw this, he  shot Donny with a crossbow.<br>
		The fight wasn't very long. Donny had the same stats as the Black Viper from Waterdeep: Dragon Heist and 3 vs 1 was a cakewalk for the players. Then when the players delivered Donny back to the guard house and collected the bounty. THE END! Or was it?
		In my notes I had few lines about an encounter where rogues would try to free Black Qubo while he was being escorted back to the guard house, but for the life of me I can't remember if I just skipped that part.<br><br>
		
		Easter Egg: In our usual game where I was a player, we had just completely derailed the campaign and become outlaws to the city of Dia, so I had a small cameo of our party's wanted posters. I thought I was being very clever :D
    </p>
	
	<h3>The Takeaway</h3>
    <p>
		My notes about this oneshot prove that you don't need much to run a fun game: <a href="qubonotes.png">Qubo Prep Notes</a> <br>
        However the notes are quite bad... I had to improvise A LOT and in the end I think the main reason this game was fun was because of the players. 
		There was one player in particular who I think helped me to improvise better. 
		Since he was very engaged and excited about the game, all of the players were discussing possibilities on what to do and where to go. 
		Since the players were actively discussing all the time, I was able to pick up a lot of good idead and incorporated them into the session. 
		If I had run this game for 3 inexperienced roleplayers, I think it could have turned out pretty bad.
		<br><br>
		In short: Listen to your players as they have great ideas! (and stop making very chaotic prep notes)
    </p>
	

</body>
</html>