<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>My GM Journey</title>
</head>
<body>
    <div id="blog">
    <a href="/">Return to frontpage</a>

    <h1>My GM Journey</h1>
    <p>
        I started playing tabletop role-playing games back in 2016. My first touch to the hobby was of course D&D 5th edition, which back in 2023 was still like 80% of my current TTRPG experiences.
        I started running 5e games for my friends in mid 2019 and later using different systems.
        On this page I (try to) recall all of my past campaigns and oneshots, condensing what happened in those games and what was my personal and possibly my players' take away from the game.
        Sessions will be in a mostly chronological order, which I hope results in providing interesting insights and developments about how I think about TTRPGs and GMing. I say mostly chronological because some campaigns are ongoing.
    </p>

    <h2>#1: The Delian Tomb</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Fantasy</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>Total of 3 players with 1 first timer.</li>
    </ul>
    <p>
        My first time being the dungeon master was with the help of Matt Colville's prewritten "Delian Tomb" oneshot.
        The adventure is basically a rescue mission, as a farmer's son is kidnapped by goblins from the farmstead. The farmer organizes multiple search parties and the players are one of those parties.
        I had 3 friends playing, with one of them being completely new to DnD, but I had showed him how to make a character easily using DNDBeyond on a flight a few weeks before.
        I had never prepped before and I can't remember which "how to GM" videos I watched, but I don't think it was too many. Probably the short "DM tips" videos with Matt Mercer.
        So most of my prep was just reading the adventure PDF and writing bullet points about it in a small black notebook. I think I actually jotted down every single goblin with their name, hp, loot and 1 unique characteristic.
        Then I drew a small version of the dungeon map in my notebook as well. I had written notes for each possible encounter in the PDF, but also 1 homebrew encounter I thought would be interesting if we had the time.
        <br><br>
        Playing was quite fun! I got to improvise and act out wacky NPCs, such as a cranky carpet merchant, who's cart the players were riding on at the beginning.
        They are part of a caravan that I had improvised to be going from Maribor to Vizima, thinking that I would be running future campaigns in the Witcher universe.
        The players had made very self-centered characters so it was easy enough to motivate them with money. There was a small encounter with boars, then they tracked down the goblins in the tomb,
        dealt with the bugbear and undead, getting the magic sword and rescuing the youngest Mabbet. The kid was of course crying after being kidnapped and caged and at this point the renegade
        side of the PCs started to come out more as they figured putting him back in the cage and carrying him back to the farm was a "safer" way... little did I know this
        was only the beginning of their antics. I think they eventually fed him honey to stop the crying, but by that point the PCs had firmly semented themselves as a-holes.
        <br><br>
        The adventure didn't take long, so I thought it would be fine to run a quick bonus encounter. Once the PCs arrive
        back at the farmstead, they are met with an eerie silence and grim sight, as the bodies of those that didn't join
        a search party are now laying in the yard. A bloodthirsty werewolf then emerges from the farmhouse, growling at the players.
        Of course the barbarian's first instinct is to offer the kid as a distraction/sacrifice, but the werewolf kicks the cage aside for bigger prey.
        <br>
        So they then slay the werewolf to my surprise and impale every single dead body in the farmstead, afraid that they
        would be infected with lycanthropy. At this point I had the werewolf retract back to its human form, revealing the
        carpet merchant to be culprit. Then I had the farmer return with his search party, who of course assumed the players
        caused the massacre, since there was no werewolf in sight and all of the corpses were impaled with the barbarian's greatsword.
        I think with more careful examination it would have been obvious that a werewolf did it, but I remember the PCs being
        their rude selves so things escalated.
        <br>
        After the final fight vs the farmer (who was a war veteran), the warlock died of his wounds and the other PCs dumped him the well for some reason.
        Then they set the whole farm on fire and rode off into the sunset, while the kid (who was the only survivor) watched his home burn.<br>
        Except that the fighter (the one playing DnD for the 1st time) said he goes back to the farm and beheads the kid... yeah I was not expecting that.
        So now the session actually ended, with the 2 surviving PCs riding off to presumably cause more chaos.
    </p>
    <h3>The Takeaway</h3>
    <p>
        The biggest realization was seeing how easy it was actually to run a game. DMing/GMing had been demystified forever for me now as being something extremely hard and requiring immense dedication.
        Don't get me wrong - GMing is difficult, but the truth is that the games that you run are as time-consuming and grandiose as you make them. The goal is to have fun, and prepping in a way that satisfies you and your players is enough.
        In this instance, it was already loads of fun to run the Delian Tomb as is, but adding that twist at the end made it something that I will remember for the rest of my life and probably the players as well.
        <br>
        That said I think the session did drag just little too long because of the werewolf encounter.
    </p>

    <h2>#2: The Black Qubo</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Fantasy (Urban)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>3</li>
    </ul>
    <p>
		I had played my second ever character in a 5e oneshot recently during this time. Donny Adello was a tortle rogue who was socially quite inept. I loved this character so much that I decided to run a oneshot where he was the villain.<br>
		Two of my players were the same as oneshot #1, but this time the setting was the same as my regular DM's world: Valcia. The players were bounty hunters in the city of Dia and they were tasked to find the mysterious "Black Qubo", who 
		had eluded them for months. The mission started in the guard house where wanted posters were being handed out. I remember that the clerk told the party about the theft of salt bags. Then the players went to scout out the slums where Black Qubo's right hand man was said to be lurking. 
		They asked around, paying some beggars well to get some good info. In the end they are led to the wingman's apartment, surprising their quarry just outside the building. They catch him with a net and mercilessly interrogate him inside his own apartment. 
		I had some of the gang's Kenku infiltrate the house from the roof during the interrogation, but the players were able to dispatch them with some minor wounds.<br><br>
		
		During the fight though, the wingman fled. Luckily the ranger was able to hunter's mark him before and they were able to track him down, since they the general direction he was. They followed him to the sewers,
		dealing with some traps and finding the gang's hideout. They beat up the wingman and his cronies, but no sign of Black Qubo. There was however a very peculiar chamber in the hideout: a whirlpool of sewer water with submerged double doors.
		I can't remember how the party got past the whirlpool, but behind the double doors they found Black Qubo's lair. The lair was a miniature copy of the Teenage Mutant Ninja Turtles hideout. <br><br> 
		
		When the party initially encounters Donny "Black Qubo" Adello, they have a pleasant chat and find out that Donny is more of a Robin-Hood type character, but all of the thugs that follow him are probably controlled by the wingman. 
		But while searching the place, the party actually found the stolen salt: it was all in a crate that had the body of a dead ratfolk in it. Donny simply said that he just wanted to preserve his master's remains. 
		When the Lawful-Good Hilpert Hilpeä saw this, he  shot Donny with a crossbow.<br>
		The fight wasn't very long. Donny had the same stats as the Black Viper from Waterdeep: Dragon Heist and 3 vs 1 was a cakewalk for the players. Then when the players delivered Donny back to the guard house and collected the bounty. THE END! Or was it?
		In my notes I had few lines about an encounter where rogues would try to free Black Qubo while he was being escorted back to the guard house, but for the life of me I can't remember if I just skipped that part.<br><br>
		
		Easter Egg: In our usual game where I was a player, we had just completely derailed the campaign and become outlaws to the city of Dia, so I had a small cameo of our party's wanted posters. I thought I was being very clever :D
    </p>
	
	<h3>The Takeaway</h3>
    <p>
		My notes about this oneshot prove that you don't need much to run a fun game: <strike><a href="qubonotes.png">Qubo Prep Notes</a></strike> (coming soon...) <br>
        However the notes are quite bad... I had to improvise A LOT and in the end I think the main reason this game was fun was because of the players. 
		There was one player in particular who I think helped me to improvise better. 
		Since he was very engaged and excited about the game, all of the players were discussing possibilities on what to do and where to go. 
		Since the players were actively discussing all the time, I was able to pick up a lot of good ideas and incorporated them into the session. 
		If I had run this game for 3 inexperienced roleplayers, I think it could have turned out pretty bad.
		<br><br>
		In short: Listen to your players as they have great ideas! (and stop making very chaotic prep notes)
    </p>

    <!--<h2>#3: The Witcher Oneshot</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Fantasy (Witcher world)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>5</li>
    </ul>
    <p>
        I wanted to run a game for my sister, so we organized a DnD night with her friends.
    </p>-->

    <h2>#4: Donny's Great Escape</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Fantasy</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>5</li>
    </ul>
    <p>
        This was the largest table I've had, but I had the same players so I was confident it would be fun. I started prep
        on an adventure where a group was tasked to free Donny from a prison called "Iron Maiden" and like many of my prep
        sessions, it started with a drawing. I drew an Alcatraz-like prison from an isometric perspective and that was
        enough inspiration to begin writing potential scenes. <br>
        My notes this time actually made sense - I had X number of scenes that I had jotted down some bullet points for.
        I had watched some Youtube videos about how to run a prison break and the main takeaway from those was to have
        very low hp guards, so that the players could feasibly stealth through the prison. However I also wanted a more
        pressing threat, so I made the warden super powerful and I added a famed mercenary band to patrol the prison. <br><br>

        The adventure itself began with the players meeting a crime boss at the end of a stormy headland. The crime boss
        gave them the task of busting out Donny Adello for a hefty reward as Donny had information that the boss needed to know.
        The prison had a "teleportation shield", meaning you could only infiltrate by traveling to the island itself.
        However the night was ideal as the weather hid the party's rowboat when they infiltrated the prison through it's
        sewer system. <br>
        On the lowest floor, the party quietly neutralized some guards bathing before moving upwards. They sneaked through
        the cell-section, not interacting with any of the inmates and made it outside of the lowest prison block. The
        roof of this building was used as a loading bay with multiple crates/barrels stacked about and a couple of airships
        anchored.<br>
        The party witnesses the famed Lazarus Brothers being welcomed to the prison by the warden at the mouth of an airship.
        The brothers disperse to seemingly patrol different parts of the prison, while the warden retreats to his offices.
        <br>
        The party knows Donny is in the "Tower" - the westernmost prison block, connected only by a rope bridge to the main prison.
        I think one of them had an invisibility potion or a spell, so they made it to the tower pretty easily.
        Donny's cell was located at the top of the tower and when the players arrive, they are jumped by 2 of the Lazarus brothers.
        They manage to defeat them but the alarm is sounded, so they are now on a clock to escape before guards swarm the tower.
        <br>
        There is a pit and a chain that goes through multiple levels, acting as a kind of an elevator.
        The pit continues through the lowest level as well, so the party takes a risk and decides to try and escape that way.
        But when they arrive at the lowerst level, Banhart Lazarus, the eldest of the brothers enters the tower. He is a
        high level fighter/sorcerer and incinerates many of the escaped prisoners. The party manages to defeat him though
        and enter the cave under the tower. They notice a great chain, as if some large animal has escaped and created
        a passage down to the depths of the earth. The party escape through this passage with Donny in tow...
    </p>

    <h3>The Takeaway</h3>
    <p>
		Drawing maps is fun! Other than that, this was probably in my top 3 worst sessions, but that also means I learned a lot.<br>
        First of all, I overprepped extensively. Here are some of the things I view as overprep for this oneshot:
        <ol>
            <li>I mapped out almost the entire prison with its 4 big buildings... for a ONESHOT.</li>
            <li>I statted out the warden, even though it was veeeery unlikely the players would fight him.</li>
            <li>I created player characters for each of the 7 Lazarus brothers and their mother. DNDBeyond helped but this was overkill.</li>
            <li>I created a more than a one-line long backstory for the Lazarus brothers and the Warden.</li>
            <li>I built Banhart and Mother Lazarus as custom minis in Hero Forge</li>
        </ol>
        So some of these points might seem like they were not overprep, but for a ONESHOT they certainly were.
        For example I used a free software (with terrible user experience) to grid out these huge, gray prison blocks. I hated preparing the map, but it felt like I need a gridded map.
        What I should have done was to just run the whole thing as a point crawl, but my experience as a player had steered me towards more gridded gameplay.
        <br>
        But by far my biggest mistake was trying to create way too much content for a oneshot. The players only fought 3
        of the 7 brothers, they only saw 1/4 of the prison and interacted with maybe 10% of it. And even then I had way
        too many scenes. Stuff actually happened during the first and last hours of the game, and the session ran for at least 5 hours.<br>
        I was so tired and fatigued, even though there were only 2 combats that were relatively fast since there was a lot of
        fluff with sneaking through the prison, which felt empty and boring.
        <br><br>
        TLDR: The session's premise was fun, but it was a slog. I also made it unfun and disappointing for myself for overprepping.
    </p>

    <h2>#5-7: Dragon of Icespire Peak</h2>
    <ul>
        <li><strong>Length: </strong>Campaign (3 sessions)</li>
        <li><strong>Setting/Type: </strong>Fantasy (Forgotten Realms)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>3-4</li>
    </ul>
    <p>
        I purchased the essentials kit to lure some of my other friends to try DnD. I think the games were fun but a timezone difference kept us from playing. 
        I think the premise of Icespire Peak is very simple but also believable with an alien force (the dragon) coming to a region and displacing many groups from their previous dwellings. 
        This causes a domino effect with lots of conflict happening around the starting town. I also liked the sandbox-style quests that players could take on but despite this it started to feel like the world was static and I needed to spice things up. 
        I did this by improvising an orcish raid on Phandelver. We didn't get past 4th lvl which I'm kinda bummed about. I was kinda hoping to play out the final dungeon and the dragon fight.
    </p>
    <h3>The Takeaway</h3>
    <p>
        For some reason the essentials kit is not regarded well by the majority of DnD players, but I think it was enough to get started and if you want a less linear starter set I think this is it. 
        <br>
        The biggest takeaway here is that I don't like Forgotten Realms. I like reading lore but it also felt like I had to be true to the setting and not make contradictions about the gods and peoples living in the realms. Because of this I felt I needed to have a wiki open whenever a player made a religion or history roll. 
        This of course is not the case, but as a new DM it felt restricting and too much to handle. So I decided to only use familiar settings...
    </p>

    <h2>#8-9: Cyberpunk RED</h2>
    <ul>
        <li><strong>Length: </strong>2 sessions</li>
        <li><strong>Setting/Type: </strong>Cyberpunk</li>
        <li><strong>System: </strong>Cyberpunk RED</li>
        <li><strong>Players: </strong>3</li>
    </ul>
    <p>
        Using the Cyberpunk RED jumpstart kit I ran a couple of games so I could lure a friend to play that was not that interested in fantasy. With the pregen characters and an adventure, we had fun cooking turtle lasagne, but something was off. 
        Later I think it was the rules. Now when I look at them, they are quite complex and combat was not fast. I'd even say the system was more complex than 5e. I disliked netrunning and it took a lot out of me to immerse myself in a Cyberpunk world. <br>
        But back then I think that I just really wanted to play in the Witcher universe, which at the time was my jam.
    </p>
    <h3>The Takeaway</h3>
    <p>
        Run games in settings that you're really into and start with a light RPG if you wan't to test out a different setting.
    </p>

    <h2>#10: Operation Inferno</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Fantasy</li>
        <li><strong>System: </strong>5E</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        After spending a long time writing a backstory for my 2nd campaign player character I wanted to utilize the lore that I wrote. 
        In Finland we have mandatory military service for men and most of my players had served. This was a commando mission that was ripe with military jokes and other antics. The party had to trek through mountains to burn some ships that could be used in an upcoming battle.<br>
        But the most notable thing was that this was the first and currently (6/2024) only game I have ran online. I used my friends FoundryVTT to host it and I think this session is the least amount of fun I've had prepping. 
        Foundry back then was a buggy hellscape with an unintuitive UI. The connection was also quite bad for some of us which really worsened the experience. I think the session was fun but only in a way that an episode of a decent TV show is fun.
    </p>
    <h3>The Takeaway</h3>
    <p>
        I need to use something simpler if I want to have fun running a game online. VTTs have potential but I think some pictures or full ToTM would still be as fun with 50% less work.<br>
        I also had some errors in the puzzles that I had written down and the adventure almost derailed because of it. I think if you notice this, and 1 or more of the players insist on finding out the answer, just confess your error and move on. 
        I think in this case I was able to improvise some answer that was barely viable and it didn't feel all too satisfying to solve.
    </p>

    <h2>#11-24: The Nights of Novigrad</h2>
    <ul>
        <li><strong>Length: </strong>Campaign (13 sessions)</li>
        <li><strong>Setting/Type: </strong>Urban Fantasy (Witcher world)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>4-5</li>
    </ul>
    <p>
        My first campaign! During this time, Witcher was my jam, so naturally I wanted to run a campaign in its world. All my life I've hated reading books, but after playing Witcher 3 for 100+ hours, I decided to buy the first Witcher book and started wondering why I ever hated reading books!<br>
        The Last Wish is still one of my favorite books and very quickly I devoured the entire Witcher Saga, reading half and listening to half on audiobooks. After reading nothing but Witcher, I decided to try another audiobook on a whim: The Lies of Locke Lamora. I was blown away by the book and it quickly became my new favorite and pretty much the reason I wanted to run an urban campaign in DnD.<br>
        So I loved the Witcher and about half of my players also liked it, so I pitched a "gangs of Novigrad" campaign.<br><br>

        I'm not going to summarize the whole campaign but here are some highlights:
        <ul>
            <li>0. Characters: Ben Faphi (deceased), Roy Hughes (deceased), Pawn (retired), Hagnulf Frassugson, Porke Brand, Regal Wilder, Ciedet "Cid" Van Brydyn</li>
            <li>1. The King of Beggars "Padre" is worried as his lieutenants are getting murdered. The campaign begins with one of them dying to poison in the same table where the players are playing Gwent. They are naturally suspected and given 1 week to clear their name by finding the real killer. I remember there was some way that Padre would know if they left the city, who basically owned the place.</li>
            <li>2. Ben dies after Pawn throws a dart at him a lvl1, after rolling a nat 1 on an advantageous attack.</li>
            <li>3. Porke Brand is sent to replace Ben and they follow a cold trail into a warehouse where they have a pretty cool ambush initiated by a visiting player</li>
            <li>4. Players find a teleporter in the warehouse that takes them to a cave where there are werebears that come from Skellige</li>
            <li>5. The werebears are seemingly led by a Ophelia the Necromancer that Roy had a grudge against. Roy then dies to a trap while investigating her office alone. He rolled 2 successes on death saves and then 3 failures in a row. Pawn leaves after losing his best friend.</li>
            <li>6. I think they fight a Katakan disguised as one of the gang leaders here... can't remember why.</li>
            <li>7. Padre and many important people like the Hierarch are kidnapped during a secret meeting.</li>
            <li>8. The players track them and end up teleporting to Skellige and fighting more werebears. Hagnulf the druid uses his op wolf summons and wins the day.</li>
            <li>9. They then fight a Frankenstein's monster created by Regal's nemesis: Barney. After killing Barney, his notebook reveals that the necromancer is Regal's mother.</li>
            <li>10. They then get ambushed by Ophelia but manage to kill her. She reveals that Regal was to be her "perfect" creation when they use speak with the dead on her.</li>
            <li>11. The players interrupt a ritual and finally confront the puppetmaster: Gudrun Bjornsdottir. She was betrayed by the other gang leaders and has been enacting her revenge with the help of her new warlock patron. It culminates when she is sacrificing Padre and some others to her patron. The players of course stop her.</li>
        </ul>

    </p>
    <h3>The Takeaway</h3>
    <p>
		So for a first campaign, this was a success in my opinion, but at times it did feel overwhelming. I think my approach to prepping the city wasn't completely wrong, but it could have been much better. I didn't do enough prep all around the city, which led to a more railroady feel for this campaign. I did make a random encounter table for the city too, but I didn't really understand how to use it properly. <br>
        I remember two very big lessons: session 8 was not good & the final fight was too easy. I didn't give enough direction during session 8 and the players weren't sure where to go, but the bigger problem was excluding one player completely. I only noticed it at the end, but since the party went to a brothel to gather info, the paladin stayed outside... doing nothing for pretty much the whole session.<br>
        As for the Gudrun fight, she didn't have enough abilities. She had a lot of hitpoints, but even with her 3 attacks the players just overwhelmed her when there were no minions to help.<br><br>
        All in all, it was very fun and I will certainly look back at this fondly, but I also want to run a better campaign.
    </p>

    <h2>#25-28: Aedd Gynvael</h2>
    <ul>
        <li><strong>Length: </strong>Campaign (3 sessions)</li>
        <li><strong>Setting/Type: </strong>Fantasy (Witcher world)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>3</li>
    </ul>
    <p>
        While I was running Nights of Novigrad, I also started a campaign with a different group that took place in the far north of the Witcher world. 
        The players had no idea what kind of game they wanted to play and I had no idea what kind of a game I wanted to run so I just made a place. Later I would find out that this is a very common way to start campaigns in OSR-style games but Aedd Gynvael lacked good random tables and well established conflicts.
        The factions were there though and I think the 1st session was a success, even though I remember it being quite long.<br>
        Problems arose in the 2nd session, when at the start one of the player character, completely out-of-nowhere tried to kill an important NPC that they had painstakingly captured. 
        I can't remember if I asked why, but I think he was trolling. So then the whole rest of the session is a PvP with them capturing this out-of-nowhere villain. <br>
        For the 3rd and final session the player actually made a Lawful-Good paladin but the session still devolved into a really weird shitshow. This was partly my fault because I gave too much authority to this paladin.
    </p>
    <h3>Takeaway</h3>
    <p>
        Boy this campaign was a shitshow but it taught me a lot:
        <ul>
            <li>1. Make sure the players are compatible. Even if they are friends IRL, doesn't mean they function well at the table. Run a oneshot before doing too much work for campaign.</li>
            <li>2. Make sure that a single player doesn't take up all the spotlight.</li>
            <li>3. Communicate more with the players about their characters and their motivations.</li>
            <li>4. Don't let them roll deception everywhere and gather a "Life of Brian"-retinue.</li>
        </ul>
        The campaign might have been salvageable but due to personal issues the group fell apart. 
    </p>

    <h2>#29: The Cold Spine of Betrayal</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        This was the first of many oneshots that I would use to build up my own world: Rol'Vetal. My DM has been running games in a homebrew setting and I decided that I'd continue it by inhabiting one of the major continents. 
        The only thing my DM had for this place was its name so it was a perfect palette. Later on this might offer some crossover possibilities or cameos in other campaigns.<br>
        The Cold Spine of Betrayal is what the Dwarf Fortress random generator dubbed the mountain range that this oneshot took place on. The region was terrorized by a zombie roc - Moldath. 
        All of the players were from "evil" cultures with a "survival of the fittest"-mindset. If they could slay Moldath, they would enjoy the respect of all the other tribes.<br>
        In the end all but one of them survived the mission. At the end I had the players choose how they would try to influence the world and roll on the results. This then influenced further worldbuilding for the region.
    </p>
    <h3>Takeaway</h3>
    <p>
        High lvl DnD is pretty slow in terms of combat but otherwise it was fun. The session prep was very creative: I just drew a map. This is probably my preferred way of creating adventures. While drawing I get so many ideas that it makes prepping a breeze.<br>
        The final "influence" roll was okay. When a player failed to influence the world in a significant way it felt bad but I still got some interesting factoids about the world through this practice. I think this added to the sense of immersion in later campaigns with the same players.
    </p>

    <h2>#30: Zuldra</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#31: Pirates of Pluma</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#32: Gran Sabana</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#33: The Rogue Mage</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>5E Hardcore mode</li>
        <li><strong>Players: </strong>3</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#34-59: The Rogue Inquisitor of Nordgard</h2>
    <a href="blog.html">I wrote a whole blog on this semi-sandbox campaign</a>

    <h2>#60: Kanzareth, the Taupe Desert</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>5E</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#60: Wikström Tower</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Cyberpunk (Turku, Finland in the year 2055)</li>
        <li><strong>System: </strong>Cyberpunk RED</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#61-67: Ukko-Metso +1 session</h2>
    <ul>
        <li><strong>Length: </strong>Campaign (ongoing but episodic)</li>
        <li><strong>Setting/Type: </strong>Warp Shell</li>
        <li><strong>System: </strong>ICRPG</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <!--
        <h2>Cyberpunk</h2> 2
        <h2>Armeija oneshot VTT</h2>
        <h2>Äh öh witcher sessiot</h2> 3
        <h2>Moldath</h2>
        <h2>Clivoqar</h2>
        <h2>Pluma</h2>
        <h2>Gran Sabana</h2>
        <h2>Abara</h2>
        <h2>Nordgard</h2> 25
        <h2>Kanzareth</h2>
        <h2>Die Hard</h2>
        <h2>Minotaur</h2>
        <h2>Demiserpent</h2>
        <h2>Ukko-Metso</h2> 6
        <h2>Andrik</h2>
        <h2>Al-Yaqut / Kanzareth</h2>
        <h2>Altered State</h2> 2
        <h2>Cinder</h2>
    -->

    <h2>#68: Axminster Oneshot</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Warp Shell (my own variation with a lot of space travel)</li>
        <li><strong>System: </strong>Index Card RPG</li>
        <li><strong>Players: </strong>5</li>
    </ul>
    <p>
        I ran a short tryout with premade characters for my usual 5E group + 2 others.
        The premise was simple: players were hired to escort a political figure, but due to a malfunction in a stargate,
        the group is sent to the middle of nowhere, separated from the ship carrying minister Axminster. <br>
        They catch 2 different distress signals coming from opposite sides of nearby sectors. They correctly deduce
        the signal that belonging to Axminster's ship and travel that way. Each sector required a jump that consumed fuel
        and every sector had some kind of small event or hazard in it. They scan adjacent sectors and jump where there is
        a bunch of space debris. They scavenge the debris while dodging it, getting a high-level spacesuit from a dead body floating around.<br>
        They then jump into a field of gelatinous lifeforms, getting stuck in one and begin to take acid damage to their ships hull.
        The hull is like 80% destroyed before they manage to boost out of the lifeform and reach Axminster who is assailed by
        multiple hostile vessels. <br>
        The combat is then about shooting up an enemy boarding craft that's holding shock troops inside it, before it boards the minister's ship.
        The players manage to destroy most of the enemies, saving the minister from getting boarded or destroyed.
        I then glance at the time and ask if the players wanna wrap it up, which they did.

    </p>
    <h3>The Takeaway</h3>
    <p>
        Overall I consider this session a failure as the feedback leaned more towards indifferent than positive. One of the
        players said they'd like more grounded sci-fi like cyberpunk and another simply said that spacefaring adventure wasn't their thing.
        This is probably true for these players, but I still think that I could have engaged them more for them to not feel this way.<br>
        However there were some more concrete problems:<br>
        1. Premade characters - this is super convenient and fast, but for ICRPG I think its important to have an attachment to the character. So instead of premades, I think we should have created characters as its super fast in ICRPG.<br>
        2. Only a spaceship - in a spaceship, there are more limited options for movement and this was supposed to be a tryout of the system as a whole. Where was the on-planet action?<br>
        3. Not linear enough - I had more stuff planned (on-planet action), but space travel took surprisingly and debating which signal to follow took a surprisingly long amount of time. This created problem #2.<br>
        4. Difficulty - the gelatinous lifeforms deal 1d10 damage to all enveloped CHUNKS (10hp) of a ship and they got hit with a 7 before getting out. This scared me into nerfing the space battle, which then made it much less interesting and deadly.<br>
        5. Forgetting things - I had a more interesting system for repairing spaceships than what was used and I forgot to use it...oops. All repairs were INT rolls, but with my new system the complication is random, meaning different types of repairs require different rolls. This would have gotten the whole crew involved in ship repair instead of the one with the highest INT.<br>
		I had run 3 sessions of ICRPG before this and had a blast every time! The semi-procedural system for space exploration
        was working really well with my work group. However I ran this oneshot for a different group of friends and
        in my opinion there was a lot that could have made the experience better for the players.
    </p>

    <h2>#69: Citadel of the Scarlet Minotaur</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>Shadowdark RPG</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#70: Tomb of the Demiserpent</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Rol'Vetal (homebrew fantasy)</li>
        <li><strong>System: </strong>Shadowdark RPG</li>
        <li><strong>Players: </strong>4</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <strong>~39 sessions of 2 Shadowdark campaigns here, but they are still ongoing.</strong>

    <h2>#111-112: Auratek Chronicles</h2>
    <ul>
        <li><strong>Length: </strong>Twoshot</li>
        <li><strong>Setting/Type: </strong>Cyberpunk (Turku in the year 2444)</li>
        <li><strong>System: </strong>Altered State</li>
        <li><strong>Players: </strong>4-5</li>
    </ul>
    <p>
        
    </p>
    <h3>Takeaway</h3>
    <p>
        
    </p>

    <h2>#113: Cinder</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Homebrew</li>
        <li><strong>System: </strong>Shadowdark RPG</li>
        <li><strong>Players: </strong>6</li>
    </ul>
    <p>
        This was a short lvl 1 dungeon crawl I ran for a table of mostly newbies. The party had shipwrecked on an island that is devoid of life. The ground is matted with ash and the trees have burn to a crisp. Running out of fresh water, the party goes for the only live-looking thing on the island: a huge silver oak with white leaves.<br>
        When they get to the oak they notice in the distance the clouds beginning to part and sun starts to shine on the distant coast. In an instant the trees there catch fire again and a wildfire begins to engulf the island.
        The party escapes inside a cave they found by the roots of this massive oak. They then crawl through an ancient temple with puzzles, militant birdlike humanoids, dangerous petrified criminals, magical mushrooms and a Gorgon. 
        After much roleplay, light-management, exploration and combat, the party finds a magical spring by the deepest roots of the oak. With the water they survive and even extend their lives by decades.<br>
        The spring was protected by the Cinderians - an ancient avian race that watned to keep their Spring of Immortality to themselves. In their midst was Yantorix - a traitorous general who had an obsession with elven beauty. 
        Yantorix led an army of elves to capture the waters. They were eventually repelled but not before attaining a very very long life from the spring. The senile and ancient ruler of the Cinderians who was guarding the spring also crowned one of the players as the new Emperor of Cinder.
    </p>
    <h3>The Takeaway</h3>
    <p>
        Everyone had a blast! Out of the 6 players only 2 had any major TTRPG (5e) experience. Both of them gave very positive feedback to Shadowdark for its fast combat. During the 3-4 hours we played we had 3 combats that all lasted at least 3 rounds.
        Most seemed to like the torch mechanic as well even though I lowered the timer to 30 minutes since there were so many players. Here the premade characters were pivotal for getting a running start and they didn't seem to hinder immersion or roleplay. 
        I did miss many important rules like XP for loot when I was explaining them but the basics were handled well by the newbies. There was some confusion around the modifiers but I think that it was mostly because of the pregens and that there was a mix of differing character sheet templates. 
        I think I had "perfected" the character sheet for Shadowdark but I still had some old drafts and didn't wanna waste paper.<br>
        I think my biggest takeaway here is to start using 30 minute timers. I don't think I'll force them into my ongoing campaigns but for oneshots and new campaigns I'll use them. This of course depends on the amount of players. The more gear slots there are the less of a concern the light is. In the past I dont think I've done an all too good job of "attacking the light" as the Shadowdark ethos demands but in this oneshot I think I've advanced in that regard.
    </p>

        <p>Kanzareth campaign was ~48 sessions</p>
        <p>Andrik campaign was 24 sessions</p>
        <p>Put 1-on-1 here (2 sessions)</p>
        <p>Put wizard vault session here</p>
        <p>Put spiral prince session here</p>
        <p>Put Flayed wolfmen 1 here (4 sessions)</p>
        <p>Put Ikari here</p>
        <p>Auron campaign is 24 sessions in.</p>

    <em>Total sessions GM'd as of 16.2.2026: 176</em>
    </div>
</body>
</html>