<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>My GM Journey</title>
</head>
<body>

    <h1>My GM Journey</h1>
    <p>
        I started playing tabletop role-playing games back in 2016. My first touch to the hobby was of course D&D 5th edition, which is still like 90% of my current TTRPG experiences.
        I then started running 5e games for my friends in mid 2019 and later using different systems.
        On this page I (try to) recall all of my past campaigns and oneshots, condensing what happened in those games and what was my personal and possibly my players' take away from the game.
        Sessions will be in chronological order, which I hope results in providing interesting insights and developments about how I think about TTRPGs and GMing.
    </p>

    <h2>#1: The Delian Tomb</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Fantasy</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>Total of 3 players with 1 first timer.</li>
    </ul>
    <p>
        My first time being the dungeon master was with the help of Matt Colville's prewritten "Delian Tomb" oneshot.
        The adventure is basically a rescue mission, as a farmer's son is kidnapped by goblins from the farmstead. The farmer organizes multiple search parties and the players are one of those parties.
        I had 3 friends playing, with one of them being completely new to DnD, but I had showed him how to make a character easily using DNDBeyond on a flight a few weeks before.
        I had never prepped before and I can't remember which "how to GM" videos I watched, but I don't think it was too many. Probably the short "DM tips" videos with Matt Mercer.
        So most of my prep was just reading the adventure PDF and writing bullet points about it in a small black notebook. I think I actually jotted down every single goblin with their name, hp, loot and 1 unique characteristic.
        Then I drew a small version of the dungeon map in my notebook as well. I had written notes for each possible encounter in the PDF, but also 1 homebrew encounter I thought would be interesting if we had the time.
        <br><br>
        Playing was quite fun! I got to improvise and act out wacky NPCs, such as a cranky carpet merchant, who's cart the players were riding on at the beginning.
        They are part of a caravan that I had improvised to be going from Maribor to Vizima, thinking that I would be running future campaigns in the Witcher universe.
        The players had made very self-centered characters so it was easy enough to motivate them with money. There was a small encounter with boars, then they tracked down the goblins in the tomb,
        dealt with the bugbear and undead, getting the magic sword and rescuing the youngest Mabbet. The kid was of course crying after being kidnapped and caged and at this point the renegade
        side of the PCs started to come out more as they figured putting him back in the cage and carrying him back to the farm was a "safer" way... little did I know this
        was only the beginning of their antics. I think they eventually fed him honey to stop the crying, but by that point the PCs had firmly semented themselves as a-holes.
        <br><br>
        The adventure didn't take long, so I thought it would be fine to run a quick bonus encounter. Once the PCs arrive
        back at the farmstead, they are met with an eerie silence and grim sight, as the bodies of those that didn't join
        a search party are now laying in the yard. A bloodthirsty werewolf then emerges from the farmhouse, growling at the players.
        Of course the barbarian's first instinct is to offer the kid as a distraction/sacrifice, but the werewolf kicks the cage aside for bigger prey.
        <br>
        So they then slay the werewolf to my surprise and impale every single dead body in the farmstead, afraid that they
        would be infected with lycanthropy. At this point I had the werewolf retract back to its human form, revealing the
        carpet merchant to be culprit. Then I had the farmer return with his search party, who of course assumed the players
        caused the massacre, since there was no werewolf in sight and all of the corpses were impaled with the barbarian's greatsword.
        I think with more careful examination it would have been obvious that a werewolf did it, but I remember the PCs being
        their rude selves so things escalated.
        <br>
        After the final fight vs the farmer (who was a war veteran), the warlock died of his wounds and the other PCs dumped him the well for some reason.
        Then they set the whole farm on fire and rode off into the sunset, while the kid (who was the only survivor) watched his home burn.<br>
        Except that the fighter (the one playing DnD for the 1st time) said he goes back to the farm and beheads the kid... yeah I was not expecting that.
        So now the session actually ended, with the 2 surviving PCs riding off to presumably cause more chaos.
    </p>
    <h3>The Takeaway</h3>
    <p>
        The biggest realization was seeing how easy it was actually to run a game. DMing/GMing had been demystified forever for me now as being something extremely hard and requiring immense dedication.
        The truth is the games that you run are as time-consuming and grandiose as you make them. The goal is to have fun, and prepping in a way that satisfies you and your players is enough.
        In this instance, it was already loads of fun to run the Delian Tomb as is, but adding that twist at the end made it something that I will remember for the rest of my life and probably the players as well.
        <br>
        That said I think the session did drag just little too long because of the werewolf encounter.
    </p>

    <h2>#2: The Black Qubo</h2>
    <ul>
        <li><strong>Length: </strong>Oneshot</li>
        <li><strong>Setting/Type: </strong>Heroic Urban Fantasy</li>
        <li><strong>System: </strong>D&D 5E</li>
        <li><strong>Players: </strong>3</li>
    </ul>
    <p>

    </p>

</body>
</html>