<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>Spiral Prince Ascends - session recap</title>
</head>
<body>
    <div id="blog">
        <a href="/">Return to frontpage</a>
        <h1>Nightmare Zone of the Ikari</h1>
        <p>For the 8 bit Shadowdark game jam in 2026, I created a 16 page (A5) adventure for Shadowdark RPG.
			This is a summary of my first time running it. 
			<a href="https://pakkanen.itch.io/nightmare-zone-of-the-ikari">You can check it out on itch!</a>
		</p>
    
	<div id="characters">
        <h2>Characters</h2>
        <ol>
            <li><strong>Franklin</strong> - Chelonian sailor bard with a harmonica.</li>
			<li><strong>Elarian</strong> - Elven priest in service of the Mother of Night.</li>
            <li><strong>Badum</strong> - Dwarven wizard hailing from the Storm Mountains.</li>
            <li><strong>Detritius</strong> - Half-orc fighter who is not very bright or pretty. Smacks really hard with a sword though.</li>
			<li><strong>Roope</strong> - Opportunistic human ranger with a gambling problem.</li>
        </ol>
    </div>

    <h2>For a piece of the Moon, I would certainly marry you...</h2>
	
	<img src="/static/images/adventures/ikaricover.png" alt="cover image" width="50%">

    <div id="foreword" class="session">
        <h3>Foreword</h3>
        <p>
            I designed this adventure as a level 7 Shadowdark oneshot, but since I had 5 players instead of 4 I premade 6th level characters. The players only skipped one room.


        </p>
    </div>
    <div id="recap" class="session">
        <h3>Session Recap</h3>
        <p>


        </p>
    </div>
	
	<div id="takeaway" class="session">
        <h3>Retrospective</h3>
        <p>

			<a href="https://pakkanen.itch.io/nightmare-zone-of-the-ikari">You can check it out on itch!</a>
		</p>
    </div>

	</body>
</html>