<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>Nightmare Zone of the Ikari - session recap</title>
</head>
<body>
    <div id="blog">
        <a href="/">Return to frontpage</a>
        <h1>Nightmare Zone of the Ikari</h1>
        <p>For the 8 bit Shadowdark game jam in 2026, I created a 16 page (A5) adventure for Shadowdark RPG.
			This is a summary of my first time running it. 
			<a href="https://pakkanen.itch.io/nightmare-zone-of-the-ikari">You can check it out on itch!</a>
		</p>
    
	<div id="characters">
        <h2>Characters</h2>
        <ol>
            <li><strong>Franklin</strong> - Chelonian sailor bard with a harmonica.</li>
			<li><strong>Elarian</strong> - Elven priest in service of the Mother of Night.</li>
            <li><strong>Badum</strong> - Dwarven wizard hailing from the Storm Mountains.</li>
            <li><strong>Detritius</strong> - Half-orc fighter who is not very bright or pretty. Smacks really hard with a sword though.</li>
			<li><strong>Roope</strong> - Opportunistic human ranger with a gambling problem.</li>
        </ol>
    </div>

    <h2>Enter the Nightmare Zone...</h2>
	
	<img src="/static/images/adventures/ikaricover.png" alt="cover image" width="50%">

    <div id="foreword" class="session">
        <h3>Foreword</h3>
        <p>
            I designed this adventure as a level 7 Shadowdark oneshot, but since I had 5 players instead of 4, I premade 6th level characters.
            The players only skipped one room and we finished it in about 4 hours.
            I went into this playtest fully knowing that the stress mechanic might be hard to track and that the level recommendation should be lowered.
        </p>
    </div>
    <div id="recap" class="session">
        <h3>Session Recap</h3>
        <p>
            I started straight away from Quintus' bedroom and explained why the players were there by explaining that a rich merchant was looking for especially experienced mercenaries to protect him while he sleeps.
            I briefed the players on what they knew: that Quintus was rich, owned a lumberyard near the T'Hunz jungle and he had history of hiring mercenaries to protect him from the wild beasts in the jungle.
            <br>
            Quintus had also told them of the curse where his employees had died in their sleep after seeing a nightmare of a demonic tiger skull on the prior night.
            He told them he saw it a week ago and hasn't slept since. He would pay 100 gp each for guarding him for a single night, which I thought was sufficient for such a short task.
            Of course a player haggled for more and the delirious Quintus said yes to it. After that exchange Quintus fell asleep and I described his snores making everyone lethargic before collapsing on the floor asleep.
            <br><br>
            Once inside the Tormentor Skull appeared and set the stakes. One of the players tried to talk to it, but I wanted it to remain as much of a mystery as possible so it teleported away after its piece.
            I described audible cracks and a wailing Quintus as they were left in darkness.
            When the players lit a torch it illuminated their escape route: the hatch with red latches. As the darkness subsided I put a d20 lifetracker from MTG on the table and lowered it from 4 to 3 while simultaneously describing how Quintus grew a bit calmer and the world around them mended itself.
            I neglected to describe that they could see themselves on the other side of the latch in the real world, but I luckily remembered that a few minutes later.
            <br><br>
            The players started with the nursery and Quintus immediately got stressed by the bright lights. They began searching for paint in the room, but of course there wasn't any.
            I think someone briefly thought about burning the crib and covering the walls with soot, which would have been an interesting solution.
            They ended up just inspecting the crib and asking Quintus if he wanted the toys. Quintus asked for confirmation before grabbing the toys and lessening his stress.
            <br>
            However, the players neglected to inspect the big smily face which was staring at the crib like a sentinel and 6 Nightmare Lizards popped out of its mouth!
            Combat here was quick and the gross attacks I gave the lizards worked wonders. PCs weren't in any trouble, but took damage which is how I figured this encounter would go.
            Luckily Quintus dodged all attacks, but that also meant the players don't know that damage causes stress.
            <br><br>
            This is where the wizard starts using <i>gaseous form</i> a lot. Badum scouts the Foyer with his gassy senses and knows there is a threat there.
            Since this was a oneshot I had established that the party had been working together for some time already and were familiar with eachother.
            The player fairly interpreted this in a way where he could still communicate in the gas form by flying through the bard's harmonica a certain number of times.
            <br><br>
            With knowledge that there was a threat in the Foyer, the players went to the crypt. The gassy form Badum again scout and the party followed.
            This is where the -1 INT half-orc ran to the coffin and threw it open, releasing the gas trap without any inspection.
            After wading through the gas and taking a bit of damage, the party had looted the tiara, but then they decided to put it back.
            In the beginning the tiger skull gave the impression that Quintus must repent for his actions (which is no entirely untrue) so they thought that putting the tiara back on the skull would make the gas go away.
            I let it happen even though that wasn't explicitly written in the adventure since the Ikari are willing to forgive Quintus if he stops being a greedy asshole.
            <br><br>
            Moving up through the narrow hallway into the prison, the players tried to deafen the sleeping giant which failed and combat began.
            I think my ruling here was a bit harsh as I had the player roll a separate check to see how quietly they can cast deafen. So deafen succeeded but the giant woke as the spell was being cast.
            Once combat started the giant grabbed the fighter through the bars and started crushing them against the bars. It was fun!
            <br>
            The party was in a crammed 5' wide hallway and I should have imposed more disadvantages on them for that. It made this strategy seem way too good against the giant.
            To make combat last a bit longer for this playtest I had the giant heal a bit from eating the cake. The giant too also wasn't a big threat, but he did rough up the fighter.
            <br>
            I ruled it so that the cell door was damaged by the giant so the fighter could break in. Whilst inside he healed a bit off the cake and cut the cell door to the ocean with the butter knife.
            <br><br>
            The stormy sea had the players use their grappling hooks to pull the boat to the pier against the stormy sea with STR checks. Lightning struck it, and they had 2 rounds to save it so they could row to the beach.
            Detritius and Roope lifted the burning mast off the boat, while Elarian and Quintus stepped onto the burning side to dip it in water. Quintus failed his DEX and fell in.
            The players were eventually able to dive deep enough to save him, but he had accumulated stress from this harrowing experience.
            <br>
            There was also a floating body in the water with a red bandanna that cause Quintus stress. Roope snatched the bandanna and convinced Quintus that it wasn't wearing one after all, which reduced stress a bit.
            From here they rowed to the beach and Franklin dug up the chest, reducing stress again and revealing the final lore piece about the Brutus vs Quintus saga.
            <br><br>
            Finally, the players made it to the jungle and Badum in his gaseous form would once again scout the area.
            I had him roll WIS checks when he flew up the rope ladder to see if he sensed the ambushing Ikari in the canopy, which he didn't.
            <br>
            After the party entered I started rolling checks to see if trees fell. Roope the ranger inspected some of the trees and I allowed him to find tracks that led upwards.
            For this he was not surprised when the Ikari layed their ambush. The Ikari came riding with a falling tree and ganged up on the priest, putting him to 0 HP.
            Soon after all the Ikari turned invisible with their cloaks.
            After this people started fighting, but the wizard was still gas. I allowed him to attack using the suffocation rules, but he did a much better strat and started circling the spots where the invisible Ikari were to allow his non-gassy-sense buddies to find them.
            The real problem for the players at this point was that one of the Ikari had dealt like 12 damage to Quintus, and he was panicking, which meant the PCs were taking WIS damage each round.
            <br>
            The bard used his Wand of Fabricate to create a one-use cannon from the silver bark which was neat, but it missed the Ikari that had dealt damage to Quintus.
            When the party had killed a couple of Ikari, PCs started going to 0 HP. The ranger, priest and fighter were all down at one point or another.
            What ended up saving the party was a succesful stabilization check from the bard on the priest that could cure wounds all the other. Since stabilization is quite a high DC (15) I usually rule it as coming back at 1 HP especially for oneshots.
            <br><br>
            When the dust finally settled, the wizard had gone insane as his WIS was now at 0. Mechanically I played this like the Gibbering of a Gibbering Mouther.
            The ranger's player then asked if they could heal the wizard with the "restorative", which I think that I would normally not have allowed, but for a oneshot I said okay and had the wizard heal d4 WIS, but still have a 25% chance each turn to do something completely random.
            This ended up being really fun because the player would roleplay this very well, casting random spells in a weird way like casting fixed object on the party's lantern.
            <br><br>
            The final confrontation began with the Ikari Oneiromancer accusing the PCs and Quintus of cutting down their village.
            Naturally the PCs disputed their involvement and the Oneiromancer recalls not ever seeing their faces.
            When she offered to free the PCs with her blessing, they chose violence instead. After all Quintus is paying them well, and you can't buy booze with a blessing!
            <br><br>
            The fight was exciting, but very unlucky for the Oneiromancer. Her teleport mishaped into like 15 damage to herself and the skull!
            Then I think she failed the terror spell and as last ditch effort she took a risk and got close to the fighter to charm them, but that also failed!
            <br>
            Summoning the blood ninja was cool and the Tormentor Skull was actually really terrifying since the PCs were already low on WIS.
            <br><br>
            After the Oneiromancer was killed, the PCs woke up safely and the grateful Quintus rewarded them with their initial pay and all the riches he had promised when he was pleading the PCs to free him from inside the nightmare.
            Mainly those that the party had shown to Quintus whilst exploring his memories.
        </p>
    </div>
	
	<div id="takeaway" class="session">
        <h3>Retrospective</h3>
        <p>
            So I think there is a lot to tweak here. Initially I thought my biggest problem was the stress system, and it does need to be simplified, or I need a way to track it better.
            It was mostly easy to track since most of the things that caused stress were resolved within the same room so it was easy to remember what caused the stress.
            The bigger problem was the random encounter stress. I forgot to track this separately and had to guess its amount at one point which could have been off by 2-3 points.
            <br>
            I was worried about having damage cause stress at first, but the Ikari fight was actually were tense because of that. Can you kill this one nimble tiger demon before you all go mad?
            <br><br>
            The 2nd thing I was worried about was the difficulty. It turns out I seemed to have balanced the combat encounters pretty well for 6-7th level, but all the other problems were cakewalks.
            Gaseous form really paid dividend here and I can see many of the T3-4 spells trivializing some of the challenges.
            I think 3-4th level would be more suitable.
            The high level is currently only suitable because the Nightmare Zone is designed in a way where PCs will take a bunch of damage, but can't really rest up so they have to try and conserve HP as much as possible.
            Though the priest was an MVP here with their cure wounds so lack of resting doesn't seem to be a problem when one of these healsticks is in the party.
            <br>
            Many problems could also be solved by a thing in the room. I don't think this is actually very good design.
            It's intuitive for the players, but I firmly believe that GMs should not put solutions into their games and instead just create problems.
            Was it really necessary to provide the honey copter when covering the nursery in soot would have been a more creative idea?
            That said the honey copter is a cool thing on its own and can help out in other areas of the dungeon.
            <br><br>
            I could also improve the initial intro by a lot when the PCs get transported to the dream world.
            I think this is one of the rare places where boxed text would work really well.
            <br>
            I also had trouble roleplaying some of the phobias that Quintus had like red bandannas on corpses, but phobias can be very surreal in real life too.
            The random encounter jump scare also got old pretty quick. That said it did keep the party moving at a quick pace and was quick to resolve.
            If I added other random encounters they would probably not be monsters since so many rooms already have combat encounters.
            <br><br>
            But the biggest problem I perceived from the playtest that I didn't see coming was how long the game took.
            This is mostly all because of a single mechanic I had where the Nightmare creatures would "frighten" PCs, and they would need to pass a WIS check or have DISADV on attacks/spells.
            This really bogged down the fights since many PCs were whiffing and also rolling a bunch of WIS checks all the time. It was confusing to roll the "panicking" WIS checks and the fear WIS checks in the same combat.
            Besides fear effects don't really work all that well in RPGs that aren't designed around it. It feels unnatural and forced sometimes.
            Fear in Shadowdark is at its best when the players themselves fear for their characters. So why not just give an enemy a terrifyingly strong attack instead?
            <br><br>
            I think that there was only like 1 or 2 instances where I didn't have an answer ready for a situation so in that sense the adventure delivers.
            Overall it ran smooth and everyone had fun, but there is certainly a lot of room for improvement here.
            <br><br>
            Improvements I will make:
            <ul>
                <li>Remove the fear mechanic from the Nightmares</li>
                <li>Simplify the stress mechanic (remove some fear sources?)</li>
                <li>Add a stress tracking sheet or figure out another way to track it effectively</li>
                <li>Lower the level (and adjust rewards/DCs/monsters accordingly)</li>
                <li>Write a better intro</li>
            </ul>

            Things I'm considering:
            <ul>
                <li>Change the pixel font (what a bother, but it does hurt readability)</li>
                <li>Add different random encounters (that aren't combat)</li>
                <li>Cake should heal</li>
            </ul>

            So some tweaks, but I don't think I'll file this down into a diamond.
            I like the Freddy Krueger dream concept and oneiromancy could be further explored in another adventure of mine.
            I also like gonzo stuff and dreams are the place for that, but if or when I make another adventure inside a dreamworld I want to design from the beginning with care and without a stressful deadline.
            I think if I had gotten feedback earlier on this work the end result for the jam could have been much better, but since its such a limited time its not very feasible for someone with a fulltime job.

			<a href="https://pakkanen.itch.io/nightmare-zone-of-the-ikari">You can check it out on itch!</a>
		</p>
    </div>

	</body>
</html>