<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>Spiral Prince Ascends - session recap</title>
</head>
<body>
    <div id="blog">
        <a href="/">Return to frontpage</a>
        <h1>The Spiral Prince Ascends</h1>
        <p>For the Appendix N Gamejam 2025, I created a 4 page (A5) adventure for Shadowdark RPG.
			This is a summary of my first time running it. 
			<a href="https://pakkanen.itch.io/the-spiral-prince-ascends">You can check it out on itch!</a>
		</p>
    
	<div id="characters">
        <h2>Characters</h2>
        <ol>
            <li><strong>Ritari Römpelö</strong> - Goblin Knight of St. Ydris who has connections to the resistance within the Auronian Empire. He is in search of Sandor's arcane secrets.</li>
			<li><strong>Aaria Lehtonen</strong> - Elven ranger who needs the money to buy some forests. Used to be a chirurgeon in a big city, but got fed up with people and started ranging in the wilds.</li>
            <li><strong>Cur Rere</strong> - Halfling courier (thief) who is delivering a package to Sandor.</li>
            <li><strong>Mätärätti</strong> - Noseless half-orc mercenary who is here to smash whatever the others tell him to.</li>
        </ol>
    </div>

    <h2>For a piece of the Moon, I would certainly marry you...</h2>
	
	<img src="/static/images/spiralprince/spiral.jpg" alt="picture of session's table during play" width="50%">

    <div id="foreword" class="session">
        <h3>Foreword</h3>
        <p>
            This was a level 5 Shadowdark oneshot that took about ~3 hours to play, including creating one lvl 5 PC from scratch.
			I did give players the general premise and limitations the night before, but we hastily scheduled the game in place of another cancelled session so there wasn't much time to prepare.
			I set the adventure in my world on a mountain next to the city-state of Excelsis.
			It is a lonely mountain within the tyrannical Auronian Empire and the snow-elves live on this one mountain that is holy to them.
			The elves hate the Empire for encroaching on their lands, but the snow-elf Queen's plan is to settle this with a diplomatic marriage.
			Princes from the Empire are interested to marry princess Ysren to gain access to the minerals in the mountains.
			Princess Ysren is rebellious and doesn't want to appease the Empire.

        </p>
    </div>
    <div id="recap" class="session">
        <h3>Session Recap</h3>
        <p>
            I started the session with the players already at the root of this tower. The buffeting wind and cold air drive them inside, tracking some bloody footprints.
			Römpelö finds a dying Excelsian knight inside a storage room who is stabilized by Aaria with her surgical skills. <br>
			The knight, Marcus, tells that he and his troop was ambushed by snow-elves only an hour before near the tower.
			He is from Galian's guard and is also seeking Sandor, but is too weak to help the players at his current state.<br>
			While the party is thawing out the room and talking to Marcus I roll the first random encounter check of the session and an encounter happens right off the bat.
			I roll on the table and get Thralfjar + his pet frost wolf coming down the tower on a hunt.
			Römpelö called out from the room without knowing what was outside and I asked for a reaction roll. (12)
			None of the PCs spoke giant, but I thought it would make sense that Thralfjar could speak coarse elvish since he hunts them.
			Since the giant was after delicious snow-elf meat he paused when he heard a language he didn't understand (common) and tried answering in elvish, revealing that he was hunting elves and was the "lord" of this mountain.<br>
			Aaria hid her elven ears and rolled 12+ on their reaction checks when pretending to show this "lord" respect so I roleplayed Thralfjar as accepting the party as his servants.
			He ordered the party to guard his tower while he hunted for snow-elves. <br><br>

			I was sweating a bit when I rolled the giant encounter but the players handled it masterfully - I should have rewarded a luck token, but I think Römpelö/Aaria both had one.
			Then when the party advanced up the tower, they found the snow-elves warming up by a giant brazier burning inside another room in the tower.<br>
			Römpelö boldly marched in and Ysren began conversing with him.
			They didn't get much information out of the elves, but Römpelö did intrigue Ysren with the prospect of a possible contact with the resistance.
			Ysren claimed that they were just protecting their mountain when they ambushed the humans, which was partially true.
			The player asked for an "insight" check but I don't generally allow those at my table anymore because it lessens the impact of spells like "detect thoughts" or "zone of truth".
			Nevertheless the party didn't fully trust the elves, but since they weren't hostile at the moment they left them without incident.<br>
			In the end the party didn't really gain any valuable info since the party blurted out just about all of their intentions,
			including the fact that they had met the giant and become his "servants" and that they are looking for Sandor.<br>
			Ysren didn't want Sandor to be free & she was preparing with her folk to attack the giant so she did not trust the party at all.
			She didn't want to fight though so she allowed them to leave, but purposefully didn't tell the party about the Rime Walker stalking the top of this tower.
			<br><br>
			Moving to the next room the players found Sandor's workshop which contained information on how the tower functioned.
			The party was able to thaw out all of the books and materials with some firewood so they could engrave the tablets they needed.
			Cur Rere was deftly able to engrave the 3 different tablets. I originally had set a DC 15 INT check here,
			but I think DEX made sense when I described the books having pictures of the correct engravings.
			The engraving process took a long time but the players were lucky that random encounters didn't occur.
			<br><br>
			They party then moved up to Thralfjar's throne room through the crack in the wall.
			While they were thawing it I decided this was a proper time to have the giant return.
			The party could see the giant approaching up the ramp from their high vantage point.
			They hastily looted the iron chest and freed the captive snow-elf who was named Irebor.
			Looking back it could have been fun to rule that the chest was frozen in place and would require a check to rip it out,
			because now there was no incentive to remain in the throne room and risk being caught by the giant.
			<br>
			Anyway the party escaped up to the next floor with Irebor in tow. He warned them of the "Rime Walker" who is said to roam the top of the tower.
			The party quickly glanced into the apparatus-room, but didn't investigate it. All they saw was the brass pillar and the frozen elf with the frost-immunity tablet.
			They quickly continued up the tower, because they were scared of the Rime Walker (it would be there on a d6 roll of 1-4, but I rolled a 5) appearing or the frost giant chasing them.
			(who had just angrily roared after seeing his supper disappear)
			<br><br>

			The party finally reached the top of the tower and saw the ice cubes. After clearing out some snow they
			realized that their stone tablets were probably meant for the room below them, but they didn't dare to backtrack.
			Their plan was to create a large fire with their firewood around the central ice cube to thaw it since they could see Sandor inside.
			With their lantern oil and remaining firewood they were able to create a bonfire and I rolled a d4 to see how many rounds it took to thaw Sandor out.
			<br>
			I ruled it to take a few rounds for them to create the bonfire and I was rolling to check when the Rime Walker would levitate onto the tower each round (50% chance).
			I think on the round that they got the bonfire burning brightly I rolled a 2 on the d6 and the Rime Walker attacked them.
			Only the goblin and Aaria were not surprised and right off the bat I downed Cur Rere with the insane amount of attacks that the walker had.
			Luckily Römpelö had a healing potion ready to go.
			<br>
			Since the players had created a very large and warm bonfire, I figured it would negate the Rime Walkers cold aura.
			Losing your action is not a very fun mechanic anyway...<br><br>
			The fight went pretty much like this:
			<ol>
				<li>Cur Rere went invisible and got his crossbow backstab off with Römpelö donating his luck token to ensure it succeeds. He dealt like 15-20 damage.</li>
				<li>Römpelö did a bit of damage.</li>
				<li>Aaria did a bit of damage.</li>
				<li>Irebor was whiffing his attacks/actions</li>
				<li>The Rime Walker downed Römpelö then levitated atop an ice cube.</li>
				<li>Mätärätti got boosted by Aaria to jump on top of the ice cube. He rolled a nat 20 so I gave him ADV on the attack, which he of course critted, dealing 17 damage or something crazy.</li>
				<li>The Rime Walker beats initiative and down Mätärätti.</li>
				<li>I tell the players the Rime Walker is at 2 HP, but Cur Rere misses.</li>
				<li>Aaria finishes it off with critical hit! The Rime Walker is hit between the eyes and collapses into black space-ice.</li>
				<li>Aaria stabilizes Mätärätti easily and Römpelö just in time. I think Römpelö was 1 round from dying. Both players rolled pretty well on their death rounds which saved their hide.</li>
			</ol>

			Sandor is thawed just as the combat ends. Cur Rere gives the package to him and Sandor signs it off.
			When Sandor opens the wooden box a bunch of gears whirr aand a steel tube is pointed at his face and something like a gunshot creates a hole in his head.
			Welp... Galian was willing to pay for just the return of his sons body. He need not know how it happened...<br>
			After this Römpelö looted Sandor and the party went down to the apparatus room. They put the frost-immunity ward in place and all ice within a 100 meters instantly melted.
		    Römpelö then wanted to try out the moon portal so he cast the spell from the top and... failed. Since I deemed this an immensively powerful spell that used a lot of magical energy, we rolled a mishap for fun.
			It came up 4 so instead of a portal to the moon, Römpelö opened a black portal, which the Willowman stepped out of. That is where I ended the session.

        </p>
    </div>
	
	<div id="takeaway" class="session">
        <h3>Retrospective</h3>
        <p>
            What a ride. At the beginning things were moving rather slow, but I feel like the encounter checks kept things moving.
			Then at the mid-point we were actually going really fast. I think this was because of the looming threat of the giant, the excitement of the players and a need to finish on time.
			I loved how the random encounter of the giant dynamically changed things.
			Since it happened at the start and the players were able to fool him into leaving the tower for a while,
			they were able to loot his throne room with ease. If they wanted to, they could have also ambushed the giant from a higher floor which would have been cool.
			<br>
			One of the more suprising things was that none of the players thought about scaling the walls for a shortcut.
			Of course the icicles made this dangerous, but they did have proper climbing gear.
			From the very bottom I made it clear that there was a chance for icicles to fall each round,
			but this surprisingly didn't lead to the players coming up with a cover to forego the need to roll saves.
			Only later when they were carrying the chest the goblin took cover under the chest.
			I think this was because they didn't have shields or anything similar in their gear,
			but it would have been cool to see them smash the hinges off a door and use that as a cover.
			<br><br>
			I'm also satisfied with how it feels like at least core classes all had something to do here: fighters had stuff to fight,
			thieves could climb/scout the tower, wizards could activate the runes or use utility spells to scale the tower faster.
			Priests didn't have much except maybe healing Marcus to gain an ally, but I think in an expanded version I would include some kind of Lunar deity lore
			that could be used when negotiating with the snow-elves or Thralfjar.
			It does feel like this adventure is more interesting with a spellcaster in the party, but PCs can befriend Sandor for that.
			<br>
			As a oneshot this scenario works as is pretty well, but I think this would actually be better in an ongoing campaign.
			It took a surprisingly long time to get to the top in real time.
			I think the only disappointing thing was not getting to play out the descent from the tower and in a campaign it would have been possible.
			The party would need to negotiate with the thawed knights (and Sandor if he was alive), get past a giant+frost wolf and maybe some angry snow-elves.
			The flash-floods created by the sudden thawing could have been gamified as well, but I just ran out of time to deal with it.<br>
			Torch timers didn't really matter here, but torches themselves could be used to thaw things so resource management still mattered.
			Going up and down the mountain could also offer some interesting survival challenges which is another point why I think this could work better within a campaign.
			<br><br>
			Overexplaining the stone tablets might not have been the most fun option.
			I think giving hints to it with maybe not knowing the exact correct combination could produce fun moments.
			I was fully expecting one of the chaotic players to rip out the vacuum-immunity rune and then creating a portal to the moon to suck the giant into it or something like that.
			<br><br>
			However I still think this might be a pretty good fit for a convention where you'd play it multiple times.
			Sure there is an obvious linear progression with the map, but some parties are likely to take shortcuts without ever seeing all of the rooms.
			I mean it did kinda happen here as well with the players half-skipping the apparatus-room, which pushed the players to thaw Sandor out using another method.
			<br><br>
			As far as balance goes I'm not sure if I'd change anything drastically. The Rime Walker with its +8 to hit, d12 damage and 4 attacks was pretty insane for a LV9 monster,
			but for a single monster I think it worked pretty well at least without its cold aura. This is because if the monster isn't able to down a PC in one round,
			then at least in this case it would have been a cakewalk for the party as I did not pull any punches and they still beat it.
			I even tried to play somewhat tactically by levitating out of reach so Mätärätti didn't get a free attack.<br>
			The only balance on the fly I made was removing the cold aura which doesn't seem very fun anyway.
			This was mostly because I forgot about it and then just justified it later because of the bonfire.
			I guess if this wasn't a oneshot and players had more time to deal with the creature it could have been interesting to see them hatch a plan to bypass its cold aura,
			but I think ranged attacks or artificial warmth are such an obvious solution that they would have just defaulted to those.
			<br>
			If any of the players knew primordial, maybe they could have also talked to it and found out that it just wants to get back to the moon,
			which could have been the solution for a less combat-oriented party.
			GM fiat is also one of Shadowdark's strengths and I think the balance is right for most reasonable interpretations of the monster.
			<br><br>
			This fight was also one of the few times that I utilized the surprise mechanic against the PCs, but for all the wrong reasons.
			I felt like I had to make the goblin ancestry bonus matter so I had everyone else roll a WIS check to see if they were surprised.
			Then half of the party was essentially frozen in place not getting to react in any way which just feels wrong.<br>
			The surprise mechanic feels undercooked. I think the way I've handled ambushes in the past has worked way better with the ambushers getting off 1 free attack before we roll the first inititiave for everyone.
			When a few PCs act against the ambusher before someone in the party actually gets ambushed, it doesn't feel like an ambush at all.
			This is why the goblin ancestral bonus feels like it should be replaced with something different, but I guess you can utilize it in other ways.
			I let Römpelö roll his dodges with ADV whenever an icicle fell from the ceiling for example.
			<br><br>
			What about the ending with Cur Rere's packet assassinating Sandor?
			Well I figured the session needed to end and my world has the "Board of Arcanists" that often silence rogue mages that dabble in magicks they deem dangerous.
			They fear that witch-hunts would ensue if commoners got to see what they are truly capable of.<br>
			Then at the end I allowed Römpelö to try the portal ritual just to see what could happen.
			There's nothing in the adventure that says you can do this and my intention was that only Sandor can perform it,
			but I see its actually best not to define this so it leaves a fruitful void.
			<br><br>

			TLDR; Very fun session, 2-sided one-page dungeon was easy to run (I printed it on thick paper and it was easy to flip back and forth), the setting was very interesting and the situations were exciting.
			Definitely something I'd like to run again to see what another group of players does.
			I recommend altering the Rime Walker by removing its cold aura, which I think makes fighting it much more engaging.<br>
			<a href="https://pakkanen.itch.io/the-spiral-prince-ascends">You can check it out on itch!</a>
		</p>
    </div>

	</body>
</html>