<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>Pakkasen DnD blogi</title>
</head>
<body>
    <div id="blog">
        <a href="/">Return to frontpage</a>
        <h1>The Isles of Andrik</h1>
        <p>Hello! This was my first Shadowdark campaign and it was a blast! On this page is a retrospective on the system and the events of the campaign.</p>
    <div id="characters">
        <h2>Characters</h2>
        <ol>
            <li><strong>Freyja Nyland "Hook of Skargat"</strong> - Daughter of Jarl Olaf of Skargat and a capable Sea Wolf. By the end of this campaign she became Jarl and raided the realms of Alfheim and Auron.</li>
            <li><strong>Audun Helvig "Trollsbane"</strong> - Sea Wolf with an affinity for deception. By the end of this campaign he fulfilled the prophecy of the Seers of Rolug and became the High King, carrying the Axe of Nine Eyes into battle.</li>
            <li><strong>Canute Erling "The Rich Imbecile"</strong> - The unhinged village idiot who barters like a madman. By the end of this campaign she became a Hydraslayer and the wealthiest woman(?) upon the isles.</li>
            <li><strong>Astrid Thors "The Wise One"</strong> - Exiled Seer of Rolug trying to redeem herself. By the end of this campaign, she became a Hagslayer and redeemed herself in the eyes of her peers, but angered Odin and must pay penance by finding the soulstones scattered throughout the continent.</li>
            <li><strong>Eirik Holmen "Fáfnirsbane"</strong> - Priest of Odin and the foster child of Skargat's former Seer. By the end of this campaign he became a Dragonslayer and a vessel for Odin's will. He too must help Astrid on her mission to recover the soulstones.</li>
        </ol>
    </div>
    
    <h2>Session list</h2>
    <ol>
        <li><a href="#session0">Session 0</a></li>
        <li><a href="#session1">Session 1</a></li>
        <li><a href="#session2">Session 2</a></li>
        <li><a href="#session3">Session 3</a></li>
        <li><a href="#session4">Session 4</a></li>
        <li><a href="#session5">Session 5</a></li>
        <li><a href="#session6">Session 6</a></li>
        <li><a href="#session7">Session 7</a></li>
        <li><a href="#session8">Session 8</a></li>
        <li><a href="#session9">Session 9</a></li>
        <li><a href="#session10">Session 10</a></li>
        <li><a href="#session11">Session 11</a></li>
        <li><a href="#session12">Session 12</a></li>
        <li><a href="#session13">Session 13</a></li>
        <li><a href="#session14">Session 14</a></li>
        <li><a href="#session15">Session 15</a></li>
        <li><a href="#session16">Session 16</a></li>
        <li><a href="#session17">Session 17</a></li>
        <li><a href="#session18">Session 18</a></li>
        <li><a href="#session19">Session 19</a></li>
        <li><a href="#session20">Session 20</a></li>
        <li><a href="#session21">Session 21</a></li>
        <li><a href="#session22">Session 22</a></li>
        <li><a href="#session23">Session 23</a></li>
    </ol>

    <h2>Maps</h2>
    <ul>
        <li><a href="/static/images/odessus.png">Town of Odessus</a></li>
        <li><a href="/static/images/odessusoutskirt.png">Odessus Outskirts</a></li>
        <li><a href="/static/images/nordgard.png">County of Nordgard</a></li>
        <li><a href="/static/images/nordbay1.png">Port City of Norbay</a></li>
    </ul>

    <h2>Session Recaps</h2>

    <div id="session0" class="session">
        <h3>Session 0: Hoard of the Sea Wolf King</h3>
        <p>
            Group of aspiring adventurers from the village of Skargat have arrived on rowboats at the flooded sea caves on the southern coast of Big Andrik. 
            Their goal is to prove their bravery in this coming-of-age challenge. They are to gather 200 gold pieces from the danger-laden Tomb of King Skorgald. 
            Upon arrival a group of 4 negotiate their way past some bandits and steal some of their equipment in the next room. They make their way past a hall detailing 
            the history of King Skorgald and his legendary deeds such as the sacking of Lysfinn and the slaying of the Drake Igald. <br><br>
            The group makes it to a winding cave system with bat droppings everywhere. One of the party holds a torch to the ceiling, angering the stingbats that rest there. 
            In the ensuing chaos, 2 of them perish as the bloodsuckers descend on them. The survivors retreat and are soon reinforced by a pair of new adventurers. <br>
            At this point the group negotiates with the bandits for an alliance. Only one dim-witted bandits stays, while the others steal a boat. Continuing their delve 
            into the caves, the party manages to sneak past the stingbats this time and they encounter some nords. Two Sea Wolves are guarding a cavern entrance, but the 
            party doesn't get much out of them, only that they gotta piss off as Garatha is the one who will claim Skorgald's treasure.<br><br>
            Moving on the party finds some valuable pearls in an empty Siren den and fight a gray ooze. Nearby they spot a statue of Thor who is wearing a beautiful elven cloak. 
            One of the party tries to grab it and the statue fries them with lightning. Canute Erling then decides to try and grab the cloak again, but luckily Freja Nyland pushes 
            them out of the way just in time. Canute gains the Cloak of Elvenkind and the party moves on. They spot a wide lake and decide to backtrack to the boats and go explore it. 
            On the center of this small underground lake, they find a small island that is Skorgald's resting place. Skorgald, now a draugr emerges from the stone and addresses the party: 
            <em>"Bring me the head of Garatha, the last of my traitorous blood, so that I may rest in peace at last!"</em> Understanding that this means Skorgald would leave behind a heap of 
            gold and the Axe of Nines Eyes, the party begins scheming. <br><br>
            With the cunning of Audun Helvig, the party convinces Garatha that they just want to serve her. They would lead Garatha to Skorgald's treasure if they were escorted safely out with their pearls. 
            Garatha takes the bait and they lead the whole group of berserkers to the lake. Once landed, Skorgald attacks Garatha's crew while the party watches from their boat on the lake. 
            Garatha's head is the first to roll from Skorgald's attacks and only a handful manage to flee the impervious draugr. The party are then awarded the Axe of Nine Eyes and 500 gp. <br><br>
            Surivors: Audun Helvig, Eirik Holmen, Canute Erling, Freja Nyland
        </p>
    </div>
    <div id="session1" class="session">
        <h3>Session 1: Carousing and goblin killin'</h3>
        <p>
            After the long winter, the party had risen to lvl 1. At the beginning Olaf Nyland called a town meeting and declared that they would raid the Rolug - the village of seers. 
            This was to happen after 30 days of preparation for the raid. Freja noticed his fathers health was not great and their new village seer, Brugatha, was a bit too close to his ear. 
            Olaf claimed his wife had died because of the old seer and conveniently Brugatha had arrived only a few days later to fill the vacancy. Nevertheless the party would join their Jarl on the raid.
            <br>
            The party started out with carousing and got rumors about a talking bear and an abandoned Dverg forge. They decided to go look for the talking bear. 
            Some armed themselves with Smith Hagen and his daughters weaponry, while others like Canute went to Marvolo's Market - an exotic goods market run by a goblin foreigner. Canute became a club member and was given a stamp card for health potions. 
            Afterwards Canute went to visit Hanna Elwinsdottir the Apotechary. Hanna's roof had collapsed in as she was making acorns that ignited like grenades when thrown. Canute bought some of those too.
            <br><br>
            Once the party went into the woods they encountered a group of naked goblins having target pratice on a carved out picture of a bear. Once the party talks to them 
            they find out they had been hunting the talking bear but the bear had killed many of them. The fanatical goblins then thought the party were here to steal their kill and 
            began attacking. Eirik went down immediately, but the others managed to help him back up. Canute threw his acorns and managed to take out most of the goblins while Freja and Audun cleaned up. <br>
            With Eirik so battered, they decided to rest under the big tree. Their sleep was interrupted by approaching torchlight. Bursting out of the trees was a Treant chased by 
            many red-cloaked Sea Wolves from Valthis. The Valthisians had torches and were burning the Treant, but the Treant was running toward the party. The party backed up and 
            the Treant awakened another Treant from the big tree they were resting under. Once Freja saw one of the Treants effortlessly crush one of the redcloaks, the party decided to flee into the dark forest.
            <br><br>
            Cold and tired, the party arrives at a longhouse hidden in the woods. In the pattering rain, they knock on the door and are met with a grizzly hermit. 
            He introduces himself as Ogden and welcomes the party in to rest for the night.
        </p>
    </div>

    <div id="session2" class="session">
        <h3>Session 2: Fanatical Goblin Soup</h3>
        <p>
            When the party awakes, Ogden offers them green soup, which Freja deduces to be made of goblins. Eirik asks Ogden about the talking bear but he doesn't have an answer. 
            However Ogden does tell of the goblins that arrived upon Andrik at the end of winter. The forest around their cave had started dying out and this worries Ogden very much. 
            The party decides to investigate and find themselves at a cave mouth where all of the green forest around it has turned black. <br>
            They spot a goblin hunting party arriving at the cave and ambush them. With the hunters taken care of they notice some of them are wearing seafaring garbs. 
            The curious party enters the cave, fighting skeletons, normal goblins and fanatical goblins. At the end of the cave they find a glowing purple gemstone. After a fight 
            with a goblin shaman the purple light expands and the party sees a vision of skinless giants rising from the ground in a faraway land. <br><br>
            The party then returns to Ogden to rest. In the morning Ogden vows and oath to the gods to restore the forest to its former beauty and the party bears witness. 
            Afterwards the party returns to Skargat and goes straight to Marvolo. Marvolo lets it slip that he had a pirate crew of goblins who went insane after they found the cave. 
            The party then goes to the Cup & Axe for a well deserved drink...
        </p>
    </div>

    <div id="session3" class="session">
        <h3>Session 3: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            Skald Horf Peikonsoittaja sings with the players while they carouse: 
            <em>
                "<br>Odin silmäänsä pyörittää, kun Signen saaliit ryövätään! Huh-hei, huh-hei, huh-hei, HUH! 
                <br>Jaarli Signe vendetan vannoi mut silti vaan vaippansa vaihtoi! Huh-hei, huh-hei, huh-hei, HUH! 
                <br>Signen poika Rulfinrääpäle, rohkeutta rouskun rouskutti, sillä Valthislaiset vaipan tarvii, kun muuten vana virstaa tulvii! Huh-hei, huh-hei, huh-hei, HUH!"
            </em>
            <br>
            This song angers some of the Valthisians in Cup & Axe and the party is dragged into a bar fight. Luckily they win the fight and the battered Valthisians are thrown out by Hagen. 
            Unfortunately Audun got the shits from the goblin soup and is bedridden so he couldn't help.
            <br><br>
            The players buy Birgitta the Donkey from Marvolo and some supplies before heading out to explore the Dverg Forge they heard about. On the way they fight giants wasps and harvest their stingers. 
            When they arrive at the general location where they believe the forge is hidden, Canute finds a cave behind a waterfall. They leave Birgitta outside and enter the cave.<br>
            They come to a crossroads and follow the upper path, coming to a hot spring. However there is a big Rock Troll bathing under a small waterfall inside the spring. The party 
            then retreats back and takes the lower path, coming to a mined-out cave with a large stone slab in the middle. The slab has the dwarven rune for "ascend" on it. Canute is able to 
            lift the slab they see a deep pit beneath. Eirik knows dwarven so he gets on the slab and exclaims: "descend" in dwarven. The slab begins moving down like an elevator and the party hops onto it.
            <br><br>
            Now deep inside the earth, the party comes to a large built room with racks of weapon and armor. They see that the armor is completely made of mithral and Freja tries to grab it. 
            As she does, the items begin to move and form into 3 animated armors. With the help of Freja's berserk, they manage to defeat the armors without taking much damage. The party 
            now has a bunch of mithral armor and weapons that have a strange black hue. <br>
            Continuing their delve with high spirits they come across cast-iron chests. Everyone starts moving these chests toward the elevator when they hear a terrible metallic screech from the 
            end of the hallway as a large iron construct in the shape of a blocky humanoid appears. Steam exhausts from its joints as it walks and a set of 3 gems glow behind a trellis in its chest. 
            Eirik and Freja drop their chests and bolt for the elevator, but Canute greedily drags the heavy chest along. This means that the construct catches up with Canute and crushes him under its fists. 
            Eirik and Freja make a split-second decision to rescue their village idiot. Eirik is able to heal Canute while Freja holds up a shield wall. Once all of them recover, they bolt for the elevator. <br>
            As the elevator is ascending, the construct grabs it and its mouth begins to open. The party is able to pry off the monstrosity's hands with a crowbar and are able to flee with their lives. 
            When the party is leaving the dungeon, they encounter a Sea Hag by the waterfall. They manage to leave with the promise of never coming back to her lair. While escaping Canute catches a glimpse of the hag's cauldron 
            and sees an image of Jarl Olaf rolling in his sleep.<br>
            Deciding to come back with Audun the next time, the party returns to Skargat with their mithral loot and level up to 3.

        </p>
    </div>

    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 2)</h3>
        <p>
            While carousing the party meets Astrid Thors - a seer exiled from Rolug. Astrid is looking for a green marble and thinks she might find it in the Forge. 
            The rest of the party is spent in singing and a drunken knife-throwing contest which ends with Canute getting a dagger embedded in his skull. Luckily he didn't even notice, but he did suffer a terrible hangover and stayed in Skargat.
            <br><br>
            When the party returns to the Forge they take the upper path this time and luckily the troll is not there. In the next room Eirik identifies a dwarven firepillar trap and Audun solves it by laying rocks on the fire runes. 
            The party smashes through a locked door and finds a dead dverg. Audun finds mushed berserker mushrooms beneath and they continue to a room flooded with water. While wading through, a Drowner attacks them and tries to pull 
            Freja under, but is quickly hacked to pieces. <br>
            Finally the party comes to a room with a statue of Brokkr - god of the dverg. In front of the statue is a stone anvil and the party gains minor enchantments from it. One of Freja's javelin is also turned into cold iron. 
            After going through a room with a 100 hammers that all had the mark of Loki and a depiction of an object upon them, the party encounters Rulf Signesson - the heir to Valthis. <br>
            Rulf and his berserkers have gotten stuck in this section of the dungeon by the dverg and Rulf is berating his subordinates for losing all of their mushrooms. The party picks a fight with Rulf and Audun ends up 
            fighting an unarmed duel with him. Audun loses and Rulf challenges Eirik. Eirik is also knocked out and Freja takes the challenge. Freja is able to beat Rulf with a bit of deception. Somehow Freja is able to 
            convince the berserkers to back out of the dungeon and see to Rulf. <br><br>
            After licking their wounds, Freja realizes the hammers create strange effects upon their designated objects. She manages to soften the metal hinges on a locked door but she also breaks a valuable cold iron axe with them. 
            Continuing deeper into the dungeon they finally arrive at the Flameless Forge of the Dverg. Three Dverg are working on something by the anvil when the party reveals themselves. Bredagar the dverg leader tells them to leave immediately. 
            Audun asks about the Axe of Nine Eyes and shows it to Bredagar. Upon seeing the Axe, Bredagar gasps and tells the dverg to attack! <br>
            The party fights off the dverg pretty easily, but Bredagar backs off to the other side of the room where he opens a large locked ruuber door. Through the door the cold iron Construct begins to squeeze through. 
            When the dverg die, Bredagar drops her disguise as a Sea Hag and frightens some of the party. Astrid manages to kill the hag just as the Construct bursts into the room. The party is battered and sprayed with hot steam, 
            but surprisingly they endure and use nearby rubber tubes that contain "cold iron gas" to distort the Constructs whole body. Cold iron is made with this gas as the iron is easier to shape while it moves about. 
            Eirik manages to get the killing blow on the Construct and the area becomes seemingly safe.
        </p>
    </div>

    <div id="session5" class="session">
        <h3>Session 5: Flameless Forge of the Dverg (part 3)</h3>
        <p>
            Canute arrives at the scene just in time to see Eirik fell the Construct. Continuing to explore the lower levels, the party finds another unfinished construct and sees that it can be programmed with 3 simple dwarven runes chalked into it. 
            Eirik chalks "protect - humans - in Forge" and the thing begins to follow the party, laying its protective hands to their sides. It indeed protects them from a pack of undead guard dogs as they continue exploring. <br>
            The party finds a library and a private workshop with schematics on creating the Axe of Nine Eyes and a Drakeslayer Blade. The party eventually comes to the same armoury they stole the mithral gear from, but they notice 
            a crumbled wall. <br>
            Through a broken down wall, a narrow passage leads to a cavern with molten walls. Chained to a cold iron pedestal in the center, a dwarf with metallic bronze skin and flames in place of hair. This is Rinfaf, former Grand Smith of the Dverg who forged the Axe of Nine Eyes. 
            <em>"Grant me my freedom and I'll awaken iron that makes even the gods tremble before you!"</em>, he exclaims. From the schematics the party knows that it was signed by Rinfaf and they know he isn't lying. Rinfaf also quite openly tells them 
            that he hates all the other gods except Loki as they are the reason he is in here. Audun is very much aligned with Loki and the others don't object to freeing him so they do. Rinfaf relishes on being free and 
            offers to enchant weapons. The Axe of Nine Eyes is awakened and he also forges a cold iron longsword that he gifts to Eirik. Because Eirik willingly took this offer, Odin takes away his powers. If Eirik is to do priestly magic he 
            must do so in Loki's name. <br>
            As Rinfaf finishes enchantments on his own warhammer, two dverg stumble upon the forge. They are horrified by Rinfaf being free and curse the party for it. Rinfaf then turns into a dragon with black scales and fries the dverg before they can leave. 
            As Rinfaf turns back to his "dverg" form, he bids the party to come visit him in Dvergheim and saunters off. <br><br>
            Shocked and worried about what they just let loose into the world, the party begins their trek back to Skargat. Just outside in the woods, they are ambushed by Rulf and his berserkers. Rulf holds aloft the head of Birgitta the donkey and throws it down at them.
            The party is immediately under huge amount of pressure and are on the verge of a total party kill when their luck suddenly turns. Eirik manages to fell a tree on a couple bersekers, Freja cuts down some of them and 
            Canute, using his invisibility cloak scales the cliff and kicks down Rulf. At the bottom Audun chops off his swordarm. After the surviving berserkers flee, the party then proceed to humiliate Rulf, dubbing him "Birgitta 2" and using him as a mule.
            <br><br>
            Still on the way back they have an encounter with a Weald Hag in the night who lured them into the dark forest with the promise of truffles. Audun chops off the hag's leg and the party flees, making it back to Skargat in one piece. <br>
            Back in town Astrid steals a green marble that hangs around Rulf's neck. It's not her marble but manages to wrangle out its origin: Skorgald's Tomb.
        </p>
    </div>
    <div id="session6" class="session">
        <h3>Session 6: Back to the Beginning</h3>
        <p>
            After carousing, the party carry a rowboat across the forest towards the Sea Caves where Skorgald's Tomb is. This time they take a different route into the caves and eventually find a whole longboat inside one of the larger caverns.<br>
            Canute hops in to investigate the boat and finds a linen-draped body of woman. He snatches a ring from her fingers and the air suddenly grows cold as the woman's ghost takes over his body. Canute begins attacking the others but they manage to outpower him and eventually the ghost leaves and is dealt by the cold iron weapons.
            <br><br>
            The party then hear the flapping of wings in distance and a dozen stingbats come flying towards them! Eirik leads everyone to a nearby room and slam the door shut, which quickly begins to break. Here the party comes face to face with Garatha's Revenants - a rival crawling party.<br>
            The revenants are what remains of Garatha's followers after the party used her as bait for Skorgald back in session 0. 
            <br><br>
            When retreating from the caves they take a familiar route where they find 2 baby wyverns and their nest. They decide not to engage in case mama comes back. After exiting the caves the party climbs up the cliff to set up camp in the forest.
        </p>
    </div>
    <div id="session7" class="session">
        <h3>Session 7: Where wyverns dare</h3>
        <p>
            Through the thicket, the party spies a large wyvern feasting on a horse carcass. Jewels and gold coins litter the ground nearby, but Astrid's eyes lock on the body of the Seer they encountered just yesterday. After convening the party gathers their courage and decides to ambush the wyvern.
            <br>
            Audun and Eirik range through the thicket while the rest make a pincer move towards the wyvern. The surprise attack succeeds and the creature howls in pain, but begins quickly to fight back.
            The creature's poison is especially deadly and Eirki(?) is knocked unconscious, but luckily the party had a healing potion from Marvolo. In the end, the creature tries to escape but Canute shoots it down.
            Afterwards the party finds the Seer still alive but dying and Astrid saves him after looting their wand with a green marble at the end. The party can't carry much stuff and are all beat up so they leave the carcass here and return to the village with the wounded Seer.
            <br><br>
            Back in the tavern, the party finds the ragged remains of Garatha's Revenants and make amends.
        </p>
    </div>
    <div id="session8" class="session">
        <h3>Session 8: Raid of Gandrunne</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>

</body>
</html>