<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>Pakkasen DnD blogi</title>
</head>
<body>
    <div id="blog">
        <a href="/">Return to frontpage</a>
        <h1>The Isles of Andrik</h1>
        <p>Hello! This was my first Shadowdark campaign and it was a blast! On this page is a retrospective on the system and the events of the campaign.</p>
    <div id="characters">
        <h2>Characters</h2>
        <ol>
            <li><strong>Freyja Nyland "Hook of Skargat"</strong> - Daughter of Jarl Olaf of Skargat and a capable Sea Wolf. By the end of this campaign she became Jarl and raided the realms of Alfheim and Auron.</li>
            <li><strong>Audun Helvig "Trollsbane"</strong> - Sea Wolf with an affinity for deception. By the end of this campaign he fulfilled the prophecy of the Seers of Rolug and became the High King, carrying the Axe of Nine Eyes into battle.</li>
            <li><strong>Canute Erling "The Rich Imbecile"</strong> - The unhinged village idiot who barters like a madman. By the end of this campaign she became a Hydraslayer and the wealthiest woman(?) upon the isles.</li>
            <li><strong>Astrid Thors "The Wise One"</strong> - Exiled Seer of Rolug trying to redeem herself. By the end of this campaign, she became a Hagslayer and redeemed herself in the eyes of her peers, but angered Odin and must pay penance by finding the soulstones scattered throughout the continent.</li>
            <li><strong>Eirik Holmen "Fáfnirsbane"</strong> - Priest of Odin and the foster child of Skargat's former Seer. By the end of this campaign he became a Dragonslayer and a vessel for Odin's will. He too must help Astrid on her mission to recover the soulstones.</li>
        </ol>
    </div>
    
    <h2>Session list</h2>
    <ol>
        <li><a href="#session0">Session 0</a></li>
        <li><a href="#session1">Session 1</a></li>
        <li><a href="#session2">Session 2</a></li>
        <li><a href="#session3">Session 3</a></li>
        <li><a href="#session4">Session 4</a></li>
        <li><a href="#session5">Session 5</a></li>
        <li><a href="#session6">Session 6</a></li>
        <li><a href="#session7">Session 7</a></li>
        <li><a href="#session8">Session 8</a></li>
        <li><a href="#session9">Session 9</a></li>
        <li><a href="#session10">Session 10</a></li>
        <li><a href="#session11">Session 11</a></li>
        <li><a href="#session12">Session 12</a></li>
        <li><a href="#session13">Session 13</a></li>
        <li><a href="#session14">Session 14</a></li>
        <li><a href="#session15">Session 15</a></li>
        <li><a href="#session16">Session 16</a></li>
        <li><a href="#session17">Session 17</a></li>
        <li><a href="#session18">Session 18</a></li>
        <li><a href="#session19">Session 19</a></li>
        <li><a href="#session20">Session 20</a></li>
        <li><a href="#session21">Session 21</a></li>
        <li><a href="#session22">Session 22</a></li>
        <li><a href="#session23">Session 23</a></li>
    </ol>

    <h2>Maps</h2>
    <ul>
        <li><a href="/static/images/odessus.png">Town of Odessus</a></li>
        <li><a href="/static/images/odessusoutskirt.png">Odessus Outskirts</a></li>
        <li><a href="/static/images/nordgard.png">County of Nordgard</a></li>
        <li><a href="/static/images/nordbay1.png">Port City of Norbay</a></li>
    </ul>

    <h2>Session Recaps</h2>

    <div id="session0" class="session">
        <h3>Session 0: Hoard of the Sea Wolf King</h3>
        <p>
            Group of aspiring adventurers from the village of Skargat have arrived on rowboats at the flooded sea caves on the southern coast of Big Andrik. 
            Their goal is to prove their bravery in this coming-of-age challenge. They are to gather 200 gold pieces from the danger-laden Tomb of King Skorgald. 
            Upon arrival a group of 4 negotiate their way past some bandits and steal some of their equipment in the next room. They make their way past a hall detailing 
            the history of King Skorgald and his legendary deeds such as the sacking of Lysfinn and the slaying of the Drake Igald. <br><br>
            The group makes it to a winding cave system with bat droppings everywhere. One of the party holds a torch to the ceiling, angering the stingbats that rest there. 
            In the ensuing chaos, 2 of them perish as the bloodsuckers descend on them. The survivors retreat and are soon reinforced by a pair of new adventurers. <br>
            At this point the group negotiates with the bandits for an alliance. Only one dim-witted bandits stays, while the others steal a boat. Continuing their delve 
            into the caves, the party manages to sneak past the stingbats this time and they encounter some nords. Two Sea Wolves are guarding a cavern entrance, but the 
            party doesn't get much out of them, only that they gotta piss off as Garatha is the one who will claim Skorgald's treasure.<br><br>
            Moving on the party finds some valuable pearls in an empty Siren den and fight a gray ooze. Nearby they spot a statue of Thor who is wearing a beautiful elven cloak. 
            One of the party tries to grab it and the statue fries them with lightning. Canute Erling then decides to try and grab the cloak again, but luckily Freja Nyland pushes 
            them out of the way just in time. Canute gains the Cloak of Elvenkind and the party moves on. They spot a wide lake and decide to backtrack to the boats and go explore it. 
            On the center of this small underground lake, they find a small island that is Skorgald's resting place. Skorgald, now a draugr emerges from the stone and addresses the party: 
            <em>"Bring me the head of Garatha, the last of my traitorous blood, so that I may rest in peace at last!"</em> Understanding that this means Skorgald would leave behind a heap of 
            gold and the Axe of Nines Eyes, the party begins scheming. <br><br>
            With the cunning of Audun Helvig, the party convinces Garatha that they just want to serve her. They would lead Garatha to Skorgald's treasure if they were escorted safely out with their pearls. 
            Garatha takes the bait and they lead the whole group of berserkers to the lake. Once landed, Skorgald attacks Garatha's crew while the party watches from their boat on the lake. 
            Garatha's head is the first to roll from Skorgald's attacks and only a handful manage to flee the impervious draugr. The party are then awarded the Axe of Nine Eyes and 500 gp. <br><br>
            Surivors: Audun Helvig, Eirik Holmen, Canute Erling, Freja Nyland
        </p>
    </div>

</body>
</html>