<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/blog.css">
    <title>Pakkasen DnD blogi</title>
</head>
<body>
    <div id="blog">
        <a href="/">Return to frontpage</a>
        <h1>The Isles of Andrik</h1>
        <p>Hello! This was my first Shadowdark campaign and it was a blast! On this page is a retrospective on the system and the events of the campaign.</p>
    <div id="characters">
        <h2>Characters</h2>
        <ol>
            <li><strong>Freyja Nyland "Hook of Skargat"</strong> - Daughter of Jarl Olaf of Skargat and a capable Sea Wolf. By the end of this campaign she became Jarl and raided the realms of Alfheim and Auron.</li>
            <li><strong>Audun Helvig "Trollsbane"</strong> - Sea Wolf with an affinity for deception. By the end of this campaign he fulfilled the prophecy of the Seers of Rolug and became the High King, carrying the Axe of Nine Eyes into battle.</li>
            <li><strong>Canute Erling "The Rich Imbecile"</strong> - The unhinged village idiot who barters like a madman. By the end of this campaign she became a Hydraslayer and the wealthiest woman(?) upon the isles.</li>
            <li><strong>Astrid Thors "The Wise One"</strong> - Exiled Seer of Rolug trying to redeem herself. By the end of this campaign, she became a Hagslayer and redeemed herself in the eyes of her peers, but angered Odin and must pay penance by finding the soulstones scattered throughout the continent.</li>
            <li><strong>Eirik Holmen "Fáfnirsbane"</strong> - Priest of Odin and the foster child of Skargat's former Seer. By the end of this campaign he became a Dragonslayer and a vessel for Odin's will. He too must help Astrid on her mission to recover the soulstones.</li>
        </ol>
    </div>
    
    <h2>Session list</h2>
    <ol>
        <li><a href="#session0">Session 0</a></li>
        <li><a href="#session1">Session 1</a></li>
        <li><a href="#session2">Session 2</a></li>
        <li><a href="#session3">Session 3</a></li>
        <li><a href="#session4">Session 4</a></li>
        <li><a href="#session5">Session 5</a></li>
        <li><a href="#session6">Session 6</a></li>
        <li><a href="#session7">Session 7</a></li>
        <li><a href="#session8">Session 8</a></li>
        <li><a href="#session9">Session 9</a></li>
        <li><a href="#session10">Session 10</a></li>
        <li><a href="#session11">Session 11</a></li>
        <li><a href="#session12">Session 12</a></li>
        <li><a href="#session13">Session 13</a></li>
        <li><a href="#session14">Session 14</a></li>
        <li><a href="#session15">Session 15</a></li>
        <li><a href="#session16">Session 16</a></li>
        <li><a href="#session17">Session 17</a></li>
        <li><a href="#session18">Session 18</a></li>
        <li><a href="#session19">Session 19</a></li>
        <li><a href="#session20">Session 20</a></li>
        <li><a href="#session21">Session 21</a></li>
        <li><a href="#session22">Session 22</a></li>
        <li><a href="#session23">Session 23</a></li>
    </ol>

    <h2>Maps</h2>
    <ul>
        <li><a href="/static/images/wargholm/skargat1.png">Village of Skargat</a></li>
        <li><a href="/static/images/wargholm/xxxx.png">Explored Hexes of Andrik</a></li>
        <li><a href="/static/images/wargholm/gandrunne.png">Village of Gandrunne</a></li>
    </ul>

    <h2>Session Recaps</h2>

    <div id="session0" class="session">
        <h3>Session 0: Hoard of the Sea Wolf King</h3>
        <p>
            Group of aspiring adventurers from the village of Skargat have arrived on rowboats at the flooded sea caves on the southern coast of Big Andrik. 
            Their goal is to prove their bravery in this coming-of-age challenge. They are to gather 200 gold pieces from the danger-laden Tomb of King Skorgald. 
            Upon arrival a group of 4 negotiate their way past some bandits and steal some of their equipment in the next room. They make their way past a hall detailing 
            the history of King Skorgald and his legendary deeds such as the sacking of Lysfinn and the slaying of the Drake Igald. <br><br>
            The group makes it to a winding cave system with bat droppings everywhere. One of the party holds a torch to the ceiling, angering the stingbats that rest there. 
            In the ensuing chaos, 2 of them perish as the bloodsuckers descend on them. The survivors retreat and are soon reinforced by a pair of new adventurers. <br>
            At this point the group negotiates with the bandits for an alliance. Only one dim-witted bandits stays, while the others steal a boat. Continuing their delve 
            into the caves, the party manages to sneak past the stingbats this time and they encounter some nords. Two Sea Wolves are guarding a cavern entrance, but the 
            party doesn't get much out of them, only that they gotta piss off as Garatha is the one who will claim Skorgald's treasure.<br><br>
            Moving on the party finds some valuable pearls in an empty Siren den and fight a gray ooze. Nearby they spot a statue of Thor who is wearing a beautiful elven cloak. 
            One of the party tries to grab it and the statue fries them with lightning. Canute Erling then decides to try and grab the cloak again, but luckily Freja Nyland pushes 
            them out of the way just in time. Canute gains the Cloak of Elvenkind and the party moves on. They spot a wide lake and decide to backtrack to the boats and go explore it. 
            On the center of this small underground lake, they find a small island that is Skorgald's resting place. Skorgald, now a draugr emerges from the stone and addresses the party: 
            <em>"Bring me the head of Garatha, the last of my traitorous blood, so that I may rest in peace at last!"</em> Understanding that this means Skorgald would leave behind a heap of 
            gold and the Axe of Nines Eyes, the party begins scheming. <br><br>
            With the cunning of Audun Helvig, the party convinces Garatha that they just want to serve her. They would lead Garatha to Skorgald's treasure if they were escorted safely out with their pearls. 
            Garatha takes the bait and they lead the whole group of berserkers to the lake. Once landed, Skorgald attacks Garatha's crew while the party watches from their boat on the lake. 
            Garatha's head is the first to roll from Skorgald's attacks and only a handful manage to flee the impervious draugr. The party are then awarded the Axe of Nine Eyes and 500 gp. <br><br>
            Surivors: Audun Helvig, Eirik Holmen, Canute Erling, Freja Nyland
        </p>
    </div>
    <div id="session1" class="session">
        <h3>Session 1: Carousing and goblin killin'</h3>
        <p>
            After the long winter, the party had risen to lvl 1. At the beginning Olaf Nyland called a town meeting and declared that they would raid the Rolug - the village of seers. 
            This was to happen after 30 days of preparation for the raid. Freja noticed his fathers health was not great and their new village seer, Brugatha, was a bit too close to his ear. 
            Olaf claimed his wife had died because of the old seer and conveniently Brugatha had arrived only a few days later to fill the vacancy. Nevertheless the party would join their Jarl on the raid.
            <br>
            The party started out with carousing and got rumors about a talking bear and an abandoned Dverg forge. They decided to go look for the talking bear. 
            Some armed themselves with Smith Hagen and his daughters weaponry, while others like Canute went to Marvolo's Market - an exotic goods market run by a goblin foreigner. Canute became a club member and was given a stamp card for health potions. 
            Afterwards Canute went to visit Hanna Elwinsdottir the Apotechary. Hanna's roof had collapsed in as she was making acorns that ignited like grenades when thrown. Canute bought some of those too.
            <br><br>
            Once the party went into the woods they encountered a group of naked goblins having target pratice on a carved out picture of a bear. Once the party talks to them 
            they find out they had been hunting the talking bear but the bear had killed many of them. The fanatical goblins then thought the party were here to steal their kill and 
            began attacking. Eirik went down immediately, but the others managed to help him back up. Canute threw his acorns and managed to take out most of the goblins while Freja and Audun cleaned up. <br>
            With Eirik so battered, they decided to rest under the big tree. Their sleep was interrupted by approaching torchlight. Bursting out of the trees was a Treant chased by 
            many red-cloaked Sea Wolves from Valthis. The Valthisians had torches and were burning the Treant, but the Treant was running toward the party. The party backed up and 
            the Treant awakened another Treant from the big tree they were resting under. Once Freja saw one of the Treants effortlessly crush one of the redcloaks, the party decided to flee into the dark forest.
            <br><br>
            Cold and tired, the party arrives at a longhouse hidden in the woods. In the pattering rain, they knock on the door and are met with a grizzly hermit. 
            He introduces himself as Ogden and welcomes the party in to rest for the night.
        </p>
    </div>

    <div id="session2" class="session">
        <h3>Session 2: Fanatical Goblin Soup</h3>
        <p>
            When the party awakes, Ogden offers them green soup, which Freja deduces to be made of goblins. Eirik asks Ogden about the talking bear but he doesn't have an answer. 
            However Ogden does tell of the goblins that arrived upon Andrik at the end of winter. The forest around their cave had started dying out and this worries Ogden very much. 
            The party decides to investigate and find themselves at a cave mouth where all of the green forest around it has turned black. <br>
            They spot a goblin hunting party arriving at the cave and ambush them. With the hunters taken care of they notice some of them are wearing seafaring garbs. 
            The curious party enters the cave, fighting skeletons, normal goblins and fanatical goblins. At the end of the cave they find a glowing purple gemstone. After a fight 
            with a goblin shaman the purple light expands and the party sees a vision of skinless giants rising from the ground in a faraway land. <br><br>
            The party then returns to Ogden to rest. In the morning Ogden vows and oath to the gods to restore the forest to its former beauty and the party bears witness. 
            Afterwards the party returns to Skargat and goes straight to Marvolo. Marvolo lets it slip that he had a pirate crew of goblins who went insane after they found the cave. 
            The party then goes to the Cup & Axe for a well deserved drink...
        </p>
    </div>

    <div id="session3" class="session">
        <h3>Session 3: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            Skald Horf Peikonsoittaja sings with the players while they carouse: 
            <em>
                "<br>Odin silmäänsä pyörittää, kun Signen saaliit ryövätään! Huh-hei, huh-hei, huh-hei, HUH! 
                <br>Jaarli Signe vendetan vannoi mut silti vaan vaippansa vaihtoi! Huh-hei, huh-hei, huh-hei, HUH! 
                <br>Signen poika Rulfinrääpäle, rohkeutta rouskun rouskutti, sillä Valthislaiset vaipan tarvii, kun muuten vana virstaa tulvii! Huh-hei, huh-hei, huh-hei, HUH!"
            </em>
            <br>
            This song angers some of the Valthisians in Cup & Axe and the party is dragged into a bar fight. Luckily they win the fight and the battered Valthisians are thrown out by Hagen. 
            Unfortunately Audun got the shits from the goblin soup and is bedridden so he couldn't help.
            <br><br>
            The players buy Birgitta the Donkey from Marvolo and some supplies before heading out to explore the Dverg Forge they heard about. On the way they fight giants wasps and harvest their stingers. 
            When they arrive at the general location where they believe the forge is hidden, Canute finds a cave behind a waterfall. They leave Birgitta outside and enter the cave.<br>
            They come to a crossroads and follow the upper path, coming to a hot spring. However there is a big Rock Troll bathing under a small waterfall inside the spring. The party 
            then retreats back and takes the lower path, coming to a mined-out cave with a large stone slab in the middle. The slab has the dwarven rune for "ascend" on it. Canute is able to 
            lift the slab they see a deep pit beneath. Eirik knows dwarven so he gets on the slab and exclaims: "descend" in dwarven. The slab begins moving down like an elevator and the party hops onto it.
            <br><br>
            Now deep inside the earth, the party comes to a large built room with racks of weapon and armor. They see that the armor is completely made of mithral and Freja tries to grab it. 
            As she does, the items begin to move and form into 3 animated armors. With the help of Freja's berserk, they manage to defeat the armors without taking much damage. The party 
            now has a bunch of mithral armor and weapons that have a strange black hue. <br>
            Continuing their delve with high spirits they come across cast-iron chests. Everyone starts moving these chests toward the elevator when they hear a terrible metallic screech from the 
            end of the hallway as a large iron construct in the shape of a blocky humanoid appears. Steam exhausts from its joints as it walks and a set of 3 gems glow behind a trellis in its chest. 
            Eirik and Freja drop their chests and bolt for the elevator, but Canute greedily drags the heavy chest along. This means that the construct catches up with Canute and crushes him under its fists. 
            Eirik and Freja make a split-second decision to rescue their village idiot. Eirik is able to heal Canute while Freja holds up a shield wall. Once all of them recover, they bolt for the elevator. <br>
            As the elevator is ascending, the construct grabs it and its mouth begins to open. The party is able to pry off the monstrosity's hands with a crowbar and are able to flee with their lives. 
            When the party is leaving the dungeon, they encounter a Sea Hag by the waterfall. They manage to leave with the promise of never coming back to her lair. While escaping Canute catches a glimpse of the hag's cauldron 
            and sees an image of Jarl Olaf rolling in his sleep.<br>
            Deciding to come back with Audun the next time, the party returns to Skargat with their mithral loot and level up to 3.

        </p>
    </div>

    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 2)</h3>
        <p>
            While carousing the party meets Astrid Thors - a seer exiled from Rolug. Astrid is looking for a green marble and thinks she might find it in the Forge. 
            The rest of the party is spent in singing and a drunken knife-throwing contest which ends with Canute getting a dagger embedded in his skull. Luckily he didn't even notice, but he did suffer a terrible hangover and stayed in Skargat.
            <br><br>
            When the party returns to the Forge they take the upper path this time and luckily the troll is not there. In the next room Eirik identifies a dwarven firepillar trap and Audun solves it by laying rocks on the fire runes. 
            The party smashes through a locked door and finds a dead dverg. Audun finds mushed berserker mushrooms beneath and they continue to a room flooded with water. While wading through, a Drowner attacks them and tries to pull 
            Freja under, but is quickly hacked to pieces. <br>
            Finally the party comes to a room with a statue of Brokkr - god of the dverg. In front of the statue is a stone anvil and the party gains minor enchantments from it. One of Freja's javelin is also turned into cold iron. 
            After going through a room with a 100 hammers that all had the mark of Loki and a depiction of an object upon them, the party encounters Rulf Signesson - the heir to Valthis. <br>
            Rulf and his berserkers have gotten stuck in this section of the dungeon by the dverg and Rulf is berating his subordinates for losing all of their mushrooms. The party picks a fight with Rulf and Audun ends up 
            fighting an unarmed duel with him. Audun loses and Rulf challenges Eirik. Eirik is also knocked out and Freja takes the challenge. Freja is able to beat Rulf with a bit of deception. Somehow Freja is able to 
            convince the berserkers to back out of the dungeon and see to Rulf. <br><br>
            After licking their wounds, Freja realizes the hammers create strange effects upon their designated objects. She manages to soften the metal hinges on a locked door but she also breaks a valuable cold iron axe with them. 
            Continuing deeper into the dungeon they finally arrive at the Flameless Forge of the Dverg. Three Dverg are working on something by the anvil when the party reveals themselves. Bredagar the dverg leader tells them to leave immediately. 
            Audun asks about the Axe of Nine Eyes and shows it to Bredagar. Upon seeing the Axe, Bredagar gasps and tells the dverg to attack! <br>
            The party fights off the dverg pretty easily, but Bredagar backs off to the other side of the room where he opens a large locked ruuber door. Through the door the cold iron Construct begins to squeeze through. 
            When the dverg die, Bredagar drops her disguise as a Sea Hag and frightens some of the party. Astrid manages to kill the hag just as the Construct bursts into the room. The party is battered and sprayed with hot steam, 
            but surprisingly they endure and use nearby rubber tubes that contain "cold iron gas" to distort the Constructs whole body. Cold iron is made with this gas as the iron is easier to shape while it moves about. 
            Eirik manages to get the killing blow on the Construct and the area becomes seemingly safe.
        </p>
    </div>

    <div id="session5" class="session">
        <h3>Session 5: Flameless Forge of the Dverg (part 3)</h3>
        <p>
            Canute arrives at the scene just in time to see Eirik fell the Construct. Continuing to explore the lower levels, the party finds another unfinished construct and sees that it can be programmed with 3 simple dwarven runes chalked into it. 
            Eirik chalks "protect - humans - in Forge" and the thing begins to follow the party, laying its protective hands to their sides. It indeed protects them from a pack of undead guard dogs as they continue exploring. <br>
            The party finds a library and a private workshop with schematics on creating the Axe of Nine Eyes and a Drakeslayer Blade. The party eventually comes to the same armoury they stole the mithral gear from, but they notice 
            a crumbled wall. <br>
            Through a broken down wall, a narrow passage leads to a cavern with molten walls. Chained to a cold iron pedestal in the center, a dwarf with metallic bronze skin and flames in place of hair. This is Rinfaf, former Grand Smith of the Dverg who forged the Axe of Nine Eyes. 
            <em>"Grant me my freedom and I'll awaken iron that makes even the gods tremble before you!"</em>, he exclaims. From the schematics the party knows that it was signed by Rinfaf and they know he isn't lying. Rinfaf also quite openly tells them 
            that he hates all the other gods except Loki as they are the reason he is in here. Audun is very much aligned with Loki and the others don't object to freeing him so they do. Rinfaf relishes on being free and 
            offers to enchant weapons. The Axe of Nine Eyes is awakened and he also forges a cold iron longsword that he gifts to Eirik. Because Eirik willingly took this offer, Odin takes away his powers. If Eirik is to do priestly magic he 
            must do so in Loki's name. <br>
            As Rinfaf finishes enchantments on his own warhammer, two dverg stumble upon the forge. They are horrified by Rinfaf being free and curse the party for it. Rinfaf then turns into a dragon with black scales and fries the dverg before they can leave. 
            As Rinfaf turns back to his "dverg" form, he bids the party to come visit him in Dvergheim and saunters off. <br><br>
            Shocked and worried about what they just let loose into the world, the party begins their trek back to Skargat. Just outside in the woods, they are ambushed by Rulf and his berserkers. Rulf holds aloft the head of Birgitta the donkey and throws it down at them.
            The party is immediately under huge amount of pressure and are on the verge of a total party kill when their luck suddenly turns. Eirik manages to fell a tree on a couple bersekers, Freja cuts down some of them and 
            Canute, using his invisibility cloak scales the cliff and kicks down Rulf. At the bottom Audun chops off his swordarm. After the surviving berserkers flee, the party then proceed to humiliate Rulf, dubbing him "Birgitta 2" and using him as a mule.
            <br><br>
            Still on the way back they have an encounter with a Weald Hag in the night who lured them into the dark forest with the promise of truffles. Audun chops off the hag's leg and the party flees, making it back to Skargat in one piece. <br>
            Back in town Astrid steals a green marble that hangs around Rulf's neck. It's not her marble but manages to wrangle out its origin: Skorgald's Tomb.
        </p>
    </div>
    <div id="session6" class="session">
        <h3>Session 6: New Alliances</h3>
        <p>
            Back in the village the party carouses, throwing in enough money for a 3-day feast. Freyja is dubbed "The Hook of Skargat" and made her father's heir. He informs her that Jarl Signe of Valthis is coming to negotiate for her son's freedom.<br>
            When the sun rises Signe, her pet wolf Fenrir and a dozen Valthisian warriors converge with the Skargattians at the Court of the Gods. She has heard of Freyja's "unhonorable" fight with Rulf and demands her son's freedom. 
            Signe sees how ragged Rulf is and threatens the Skargat with a bloody retribution. Eirik and Freyja manage to negotiate terms: Valthis could partake in the raid of Gandrunne and Rulf is released back to her. Signe accepts these terms because she has a personal vendetta against Jarl Karsgald of Gandrunne.
            <br>
            With this deal the raid's target is changed to Gandrunne, scheduled a week earlier and the 3-day feast continues. Canute shops at Marvolo's, gaining many stamps and 2 healing potions. Eirik's mentor, Freja Westergard shuns her pupil for embracing Loki. Eirik vows to redeem himself. 
            Then Freyja Nyland experiments with one of the cursed hammers from the Dverg forge. She strikes a replacable handaxe and I roll on the d12 table for curses. I then ask the player to scream a 5 word substantive, to which they give a hearty "VITTU" and I then inform them that they have just screamed out their "True Name" aloud.
            <br>
            Audun feeds his Axe of 9 Eyes on some thieves and convicts and Freyja teaches her 2 brothers Goln & Boln some combat tricks for the upcoming raid. The halfwit lanky Goln is taken down easily, but Freyja struggles with Boln and is about to lose so she rages. In her anger she breaks Bolns leg, making him an invalid for the rest of this campaign.
            Boln resents her for this and for snatching his title as heir to Skargat.
            <br><br>
            After carousing, the party buys a rowboat and Signe gives them a horse. They carry boat across the forest towards the Sea Caves where Skorgald's Tomb is. 
        </p>
    </div>
    <div id="session7" class="session">
        <h3>Session 7: Back to the Beginning</h3>
        <p>
            This time they take a different route into the caves and eventually find a whole longboat inside one of the larger caverns.<br>
            Canute hops in to investigate the boat and finds a linen-draped body of woman. He snatches a ring from her fingers and the air suddenly grows cold as the woman's ghost takes over his body. Canute begins attacking the others but they manage to outpower him and eventually the ghost leaves and is dealt by the cold iron weapons.
            <br><br>
            The party then hear the flapping of wings in distance and a dozen stingbats come flying towards them! Eirik leads everyone to a nearby room and slam the door shut, which quickly begins to break. Here the party comes face to face with Garatha's Revenants - a rival crawling party.<br>
            The revenants are what remains of Garatha's followers after the party used her as bait for Skorgald back in session 0. They are led by Harl rune-face and are on edge, but Eirik manages to calm the situation by promising that they'd retreat from the cave.
            <br><br>
            When retreating from the caves they take a familiar route where they find 2 baby wyverns and their nest. They decide not to engage in case mama comes back. After exiting the caves the party climbs up the cliff to set up camp in the forest.<br>
            During their rest, Astrid sees Garatha's Revenants leaving the caves with a bunch of loot toward Skargat. After resting the party decides to return to Skargat, virtually empty handed. On their way however, they spot Harl's pet wolf dead on the ground.
        </p>
    </div>
    <div id="session8" class="session">
        <h3>Session 8: Where wyverns date</h3>
        <p>
            Through the thicket, the party spies a large wyvern feasting on a horse carcass. Jewels and gold coins litter tle ground nearby, but Astrid's eyes lock on the body of the Seer they encountered just yesterday. After convening the party gathers their courage and decides to ambush the wyvern.
            <br>
            Audun and Eirik range through the thicket while the rest make a pincer move towards the wyvern. The surprise attack succeeds and the creature howls in pain, but begins quickly to fight back.
            The creature's poison is especially deadly and Eirki(?) is knocked unconscious, but luckily the party had a healing potion from Marvolo. In the end, the creature tries to escape but Canute shoots it down. Freyja tries to extract poison from the creature's stinger but almost dies herself.
            Afterwards the party finds the Torm the Seer still alive but dying and Astrid saves him after looting their emerald wand. Eirik also finds a large cryptex and a map with 5 spots marked: einn, tveir, frir, fyra, fimm. The party can't carry much stuff and are all beat up so they leave the carcass here and return to the village with the wounded Seer.
            <br><br>
            Back in the tavern, the party finds the ragged remains of Garatha's Revenants and make amends. The survivors, Harl, Torm and Gorm decide to retire. <br>
            Canute goes to Marvolo's again and exchanges a bunch of valuable (100gp?) stuff for a bunch of snake oil. Eirik sacrifices all his loot to get back into Odin's good favor. Odin sends him on a quest to slay the dragon Fafnir. 
            Astrid realizes the emerald wand acts as some sort of compass.
            <br><br>
            The party then rest and head back to the wyvern carcass, which is being devoured by wolves. The party deals with the wolves and skins them and the wyvern. They return to the village to prepare for the upcoming raid.
        </p>
    </div>
    <div id="session9" class="session">
        <h3>Session 9: Raid of Gandrunne</h3>
        <p>
            The night before the party leaves on the raid, an envoy from Vingrike has come to Skargat's hearth. Vingrike is a large federation consisting of tribes from Nordving that is planning a large-scale raid against the Empire of Auron. 
            Balder, the "Young Crow" has come from the capital to seek the aid of the Wargholm and its large navy of longships. His father the "Old Crow" is known for uniting the tribes of Nordving.<br>
            Jarl Olaf asks his daughter, Freyja for her opinion on the alliance and she decides its best to wait for now. Balder expects a response within 2 weeks. Balder then beats the players in a drinking contest before retiring.
            <br><br>
            The next day, wyvern leather is donned, axes sharpened and sails hoisted for the raid of Gandrunne. The party sails to Little Andrik and meets up with the Valthisian fleet in a fjord near Gandrunne.<br>
            Signe is set on assaulting the Jarl's longhouse herself, while the players decide to strike at a peculiar black tower which is Gandrunne's treasure hoard.<br><br>
            The raid begins with arrows raining down as the longboats land on the beaches of Gandrunne. Players manage to burn a guard tower with snake oil and advance toward the treasure hoard.
            They encounter little resistance and break into the black tower.<br><br>
            Here they make their way up and encounter a small group of Sea Wolves guarding the hoard. Among them is Ivar of the Lynx Coast swinging the Father of Swords. He is loyal to Jarl Karsgald and engages the players.<br>
            He swings around wildy attacking and dealing severe damage, but the players eventually overcome him. However one of his last acts is to push Freyja down the pulley hole in the middle of the tower.
            Freyja plunges back to ground level, going to 0 HP. Luckily Astrid was close enough to heal Freyja and the party manage to loot the tower without casualties.<br>
            Afterwards Canute claims Ivar's sword.
            <br><br>
            On their way out they burn a couple of longboats and steal another. Signe's ship sails beside them and she throws Jarl Karsgald's head on the deck, boasting all the while.
            She also informs without much compassion that Freyja's lanky brother Goln died assaulting one of the guard towers.
            <br>
            Instead of returning back to Skargat the party decides to visit a nearby island where the marking "fimm" is made on the map found in Skorgald's Tomb.
        </p>
    </div>
    <div id="session10" class="session">
        <h3>Session 10: The Lindorm</h3>
        <p>
            The party and their rowers, represented by Ingimar Runolfsson head over to a nearby isle that is heavily forested.
            They spot some movement in the forest and decide to land on a low beach. Here a small scuffle between Canute and Freyja breaks out for the Father of Swords. 
            Freyja did suffer the most at Ivar's hands and after a brief fight, she rips the sword from Canute, who suddenly didn't care about it anymore.<br>
            While still on the beach, Freyja yet again experiments with the cursed forging hammers. She overloads the handaxe with curses, eventually destroying it and turning it into the Hilt-of-Many-Things. 
            The hilt had a 5 letter wordlock which manifested a blade in correspondence with the word.
            <br><br>
            The party then trek into the forest and begin to notice autumnal leaves the deeper they go. During spring this is most peculiar. They eventually come to a grang oak at the isle's center, which is guarded by a Lindorm - a massive acidic serpent.
            <br>
            The party battles the beast and with every succesful hit, acidic blood is sprayed upon them. Freyja summons an eagle from the hilt that rips into the scales with vigor. Eventually Audun finally decapitates the serpent.
            <br><br>
            In the aftermath a group of pointy-eared elves come around the oak with arrows notched at the dead serpent. Siegfried Lightspell introduces himself and thanks the party for slaying the Lindorm.
            He and his warriors were barred from entering back into Alfheim by the serpent. With a loud bang a wooden door from the oak swings open and radiant light bursts through. 
            Siegfrieds brother, Sigurd, introduces himself and Astrid immediately notices his tiara with a green marble stuck to it.
            <br>
        </p>
    </div>
    <div id="session11" class="session">
        <h3>Session 11: Raido</h3>
        <p>
            Sigurd tells of the elven custom of visiting here every 100 years to make a sacrifice to the goddess Rafflesia. When prompted by Astrid, he tells them that's where his half-of-a-green-marble was found.
            He then gifts the marble to Astrid and the party goes to search for Rafflesia's shrine. The elves thank the players and return to Alfheim via the oak.
            <br><br>
            In the dark shrine, the players find a fountain and a broken skull with half a green marble inside. After Astrid picks it up a coldness envelops the room. Through the wall a dark blue wraith emerges and introduces himself as Raido.
            Raido lets it slip that the cryptex holds a relic that helped his father - Skorgald to become King of the Sea Wolves. He tells how his father hunted him and his brothers, Magnus, Isleif, Isrodd, Meili after they killed Mordeme the youngest.
            They felt wronged by Skorgald after he made Mordeme his heir. To prevent reaching Valhalla, Skorgald would trap their souls in these green soulstones. Raido was lucky enough for an unwitting elf to break it.
            <br><br>
            At this point the players figure out the cryptex is supposed to spell out "MIMIR" after Skorgald's sons. They solve the puzzle and out comes Mimir the god of Knowledge or his head at least. 
            Seeing this Raido becomes aggressive and tries to take the head, but Eirik manages to cast Lay To Rest and successfully banish this LV8 wraith. Astrid then pops the marble pieces back together, happy to be one step closer to redeeming herself.
            <br><br>
            The party then sail back to Skargat and Freyja spends some time with the Jarl's weaponmaster, Thorfast Timber, to learn how to use the Father of Swords.
        </p>
    </div>
    <div id="session12" class="session">
        <h3>Session 12: Marvolo's Marvelous Sidequest</h3>
        <p>
            Balder the Young Crow has returned and informs that Gandrunne is now under Vignrike's protection. He had obviously used Gandrunne's weakened state to his advantage to gain their fealty.
            <br><br>
            After this Canute finally wants to help Marvolo out with a quest he had been bugging the party about for days. They head out to a nearby island where Marvolo in his pirate days had stashed some loot. At the island they find a sea cave and leave their rowers to guard the entrance.<br>
            They find the cave full of stingbats and pirate corpses. Here they ask Mimir a few questions about the world, but he appears to be drunk and attracts more stingbats. Canute goes into a frenzy, leading the party from room to room, killing bats left and right.
            <br>
            Finally a matriarch appears - a giant white stingbat. The party however makes short work of it by blowing some black powder kegs and loots the entire cave. They even find a ouijaboard.
            <br><br>
            However when their about to leave, one of the rowers sounds the alarm outside...
        </p>
    </div>
    <div id="session13" class="session">
        <h3>Session 13: Storm Giants and Graverobbers</h3>
        <p>
            Outside the cave, a large Storm Giant called Aegir is harassing the longboat. The party manages to bribe him to get past, but one of the bribes was a bottle of snake oil.
            Aegir's reaction when he takes a whiff is of revulsion and he promises scuttle them if he ever sees the party again.
            <br><br>
            After that scare, the party returns to Little Andrik to where "fyra" marking is on their treasure map. During a rest in the forest they encounter a familiar ghost - Goln brother of Freyja. 
            Goln laments the fact that he'll never get to Valhalla because he was cursed by Gandrunne's seer Aberg. Freyja vows to free her brother in due time.<br>
            After resting the party moves on the runestones of Little Andrik - a graveyard of worthy sea wolves killed in battle. Astrid's compass points to one of the graves so the party turn into graverobbers.
            Canute retrieves a Comb of Wisdom, which grants him 18 WIS, while Astrid finds another green soulstone.
            <br><br>
            The party then leave and find Mother Aberg camping out with her apprentices. The party lays an ambush and Aberg promises to lift the curse if she is given a swift death. Freyja obliges and Golni ascends to Valhalla.
        </p>
    </div>
    <div id="session14" class="session">
        <h3>Session 14: Divine Intervention</h3>
        <p>
            The party returns to the cemetery to bury Aberg's and her oracles. The gods do not view killing the oracles of Rolug in a favorable light which leads to a Valkyrie descending upon the party from the sky, riding a horse on a rainbow bridge.
            <br>
            She is here for blood, but Eirik manages to ward her off with a promise that his vow to slay Fafnir would be fullfilled in 1 month's time. Satisfied, the Valkyrie leaves.
            <br><br>
            Afterwards the party decides to visit the seers' village of Rolug. The people of Rolug are dancing around a giant bonfire just outside the main hall. Torbald Bloodless and Astrid's master, Jan Frostglad, welcome them. Jan is please with Astrid's progress on reclaiming the marbles and invites them to partake in the monthly ritual of foresight.
            <br>
            The party spends a night in Rolug and Torbald shows them the Final Saga - a series of bloody engravings on the cliffside. Each month they sacarifice a human here and more of the saga is revealed. 
            Audun participates by volunteering as the executioner. 
            The saga now shows five images: Man with a 9 eyed Axe, Fafnir the Black Dragon, 5 broken green marbles, a great battle between Andrik, Auron, dragons and giants and finally above it all a humanoid figure radiating power.
            <br><br>
            In the morning Eirik receives a cool raven tattoo and Scroll of Annihiliation for the quest to slay Fafnir.
        </p>
    </div>
    <div id="session15" class="session">
        <h3>Session 15: Canute the Hydraslayer</h3>
        <p>
            While party sails towards "Einn" island they bump into something in the water: an angry multiheaded Hydra. The ship flees desperately toward the island while the Skargat 5 are fighting it off from the rear.<br>
            Everyone sustains considerable wounds and it looks like they won't make it to the island in time until Canute throws one of the apotechary's pinecones at the beast. The pinecone critically hits in a spectacular wall of flames that kills and cauterizes the remaining heads of the Hydra.
            <br><br>
            On the island they find a spackle of small rocks marking a grave. Beneath they find an ancient tomb and venture forth. They are met with a flashfreezing trap, which they manage to deactivate. In the room is a frozen man in a white toga who is defrosted and seems stable but unconscious.
            <br>
            When the party revives him he speaks terrible Nord but it quickly becomes clear that this is a student from the Arce Veneficus magical academy in Auron. He intrdocues himself as Flavius Orion Aurelius, son of Mortus Orion Aurelius, nephew to "Mater" Aurel Aurelius, the first Empress of Auron.
            <br>
            Its evident that Flavicus still believes that Aurel is still in power so he must have been in the ice for over 200 years. Nevertheless Flavicus is not hostile at all and is in fact working on his bachelor's thesis about magick's of Andrik.
            He is more than happy to follow Astrid and Eirik around and see how their magic works.
            <br><br>
            At the end of the tomb, the party finds a bony man in a cage with a green soulstone necklace. The cage is guarded by Hans the draugr who challenges Audun to a duel. Audun wins and Freyja snatches the necklace from the starving man.
            <br>
            The necklace's soul, Magnus the eldest, immediately tries to take over Freyja's body but her mind resists the pressure.
        </p>
    </div>
    <div id="session16" class="session">
        <h3>Session 16: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session4" class="session">
        <h3>Session 4: Flameless Forge of the Dverg (part 1)</h3>
        <p>
            
        </p>
    </div>
    <div id="session23" class="session">
        <h3>Session 23: Bacchanal of the Sea Wolf King</h3>
        <p>
            
        </p>
    </div>

</body>
</html>